{% extends 'base-back.html.twig' %}

{% block title %}Les entreprises partenaires{% endblock %}

{% block body %}
{% include "entreprise_list/modal-create-entreprise.html.twig" %}

<div class="liste-entreprises fr-p-5w">
    <div class="fr-container">
        <div class="add-button-container">
            <button class="fr-btn fr-btn--icon-left fr-icon-add-line"  data-fr-opened="false" aria-controls="fr-modal-create-entreprise">Créer une entreprise</button>
        </div>
        <h1>Les entreprises partenaires</h1>

        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-input-wrap fr-icon-search-line fr-col-12 fr-col-lg-4">
                <input type="text" class="fr-input" id="search-free" placeholder="Nom, SIRET, label...">
            </div>
        </div>

        <div class="fr-mt-3w">
            <h2 id="liste-entreprises-title" role="status"><span id="count-entreprise">0 entreprises trouvées</span></h2>

            <div class="fr-grid-row fr-grid-row--right fr-mb-5v">
                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    <label class="fr-label" for="select-sort-table-by">
                        Trier la liste par
                    </label>
                    <select class="fr-select" id="select-sort-table-by" name="select">
                        <option value="" selected disabled hidden>Sélectionner une option</option>
                        <option value="0">ID</option>
                        <option value="1">Nom</option>
                        <option value="2">SIRET</option>
                        <option value="3">Label</option>
                        <option value="4">Employés</option>
                        <option value="5">Territoire</option>
                    </select>
                </div>
            </div>

            {% if entreprises is not empty %}
                <table id="datatable" class="nowrap">
                    <caption id="count-entreprise-caption" class="fr-hidden">0 entreprises trouvées</caption>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>SIRET</th>
                            <th>Label</th>
                            <th>Employés</th>
                            <th>Territoire(s)</th>
                            <th>Statut</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entreprise in entreprises %}
                            <tr>
                                <td>{{ entreprise.id }}</td>
                                <td>{{ entreprise.nom }} <span class="fr-hidden">{{ entreprise.numeroSiret }} {{ entreprise.numeroLabel }}</span></td>
                                <td>{{ entreprise.numeroSiret }}</span></td>
                                <td>{{ entreprise.numeroLabel }}</td>
                                <td><span>{{ entreprise.employes.count }}</span></td>
                                <td>
                                    {% for territoire in entreprise.territoires %}
                                        {{ territoire.zip }}{{ not loop.last ? ',' }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if entreprise.user and entreprise.user.status is same as enum('App\\Entity\\Enum\\Status').ACTIVE %}
                                        <a href="{{path('app_entreprise_switch_status', {uuid:entreprise.uuid})}}?_t={{ csrf_token('switch_status') }}" class="no-background" title="Archiver l'entreprise {{ entreprise.nom }}">
                                            <span class="niveau-infestation niveau-3 fr-icon-refresh-line" aria-hidden="true"></span>
                                        </a>
                                        <p class="fr-badge fr-badge--no-icon fr-badge--success">Active</p>
                                    {% elseif entreprise.user and entreprise.user.status is same as enum('App\\Entity\\Enum\\Status').ARCHIVE %}
                                        <a href="{{path('app_entreprise_switch_status', {uuid:entreprise.uuid})}}?_t={{ csrf_token('switch_status') }}" class="no-background" title="Désarchiver l'entreprise {{ entreprise.nom }}">
                                            <span class="niveau-infestation niveau-3 fr-icon-refresh-line" aria-hidden="true"></span>
                                        </a>
                                        <p class="fr-badge fr-badge--no-icon fr-badge--warning">Archivée</p>
                                    {% else %}
                                        <p class="fr-badge fr-badge--no-icon fr-badge--warning">Inactive</p>
                                    {% endif %}
                                </td>
                                <td class="button-view">
                                    <a href="{{ path('app_entreprise_view',{uuid:entreprise.uuid}) }}" class="fr-btn fr-icon-arrow-right-fill" title="Voir l'entreprise {{ entreprise.nom }}">
                                        Voir l'entreprise {{ entreprise.nom }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
