{% extends 'base.html.twig' %}

{% set submit_route_action = app.request.get('_route') == 'request_password' ? 'request_password' : 'request_account_activation' %}

{% block title %}
    {{ submit_route_action == 'request_password' ? 'Réinitialiser mon mot de passe' : 'Activer votre compte'}}
{% endblock %}

{% block body %}
<main class="fr-container fr-py-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-10 fr-col-md-8 fr-col-lg-6">
            <h1>
                {% if submit_route_action == 'request_password' %}
                    Réinitialiser mon mot de passe
                {% else %}
                    Activer mon compte
                {% endif %}
            </h1>
            <p>
                {% if submit_route_action == 'request_password' %}
                    Vous recevrez un email avec un lien de réinitialisation
                {% else %}
                    Vous recevrez un email avec un lien d'activation
                {% endif %}
            </p>

            <form action="{{ path(submit_route_action) }}" class="needs-validation fr-mb-5w" name="login-activation-form" method="POST" novalidate="">
            
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div role="alert" class="fr-alert fr-alert--{{ label }} fr-alert--sm fr-mb-3v">
                            {% if label is same as('error') %}
                                <strong>Erreur...</strong>
                            {% endif %}
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
                
                <div class="fr-input-group">
                    <label class="fr-label" for="login-email">Adresse email</label>
                    <input class="fr-input" type="email" id="login-email" name="email" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('activation') }}">

                <div class="fr-form-group">
                    <button class="fr-btn fr-btn--icon-left fr-icon-check-line">
                        {% if submit_route_action == 'request_password' %}
                            Réinitialiser mon mot de passe
                        {% else %}
                            Activer mon compte
                        {% endif %}
                    </button>
                </div>
            </form>

            {% if submit_route_action == 'request_password' %}
                {% include "security/_partial_link_account_activation.html.twig" %}
            {% else %}
                {% include "security/_partial_link_forgotten_password.html.twig" %}
            {% endif %}
            
            {% include "security/_partial_link_account_login.html.twig" %}
        </div>
    </div>
</main>
{% endblock %}
