{% extends 'base.html.twig' %}

{% block title %}Activer mon compte{% endblock %}

{% block body %}
<div class="fr-container fr-py-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-10 fr-col-md-8 fr-col-lg-6">
            {% if user.status is same as constant('App\\Entity\\Enum\\Status::INACTIVE')  %}
                <h1>Création de votre mot de passe</h1>
            {% else %}
                <h1>Réinitialisation de votre mot de passe</h1>
            {% endif %}

            <div class="fr-alert fr-alert--info fr-mb-3w">
                {% if user.status is same as constant('App\\Entity\\Enum\\Status::INACTIVE')  %}
                    <p class="fr-callout__text">
                        Vous avez demandé l'activation de votre compte
                    </p>
                {% else %}
                    <p class="fr-callout__text">
                        Vous avez demandé la réinitialisation de votre mot de passe
                    </p>
                {% endif %}
            </div>
            {% set passwordHasErrors = false %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div role="status" class="fr-alert fr-alert--{{ label }} fr-alert--sm fr-mb-3v" {% if label is same as('error error-raw') %}id="password-has-error"{% endif %}>
                        {% if label is same as('error') or label is same as('error error-raw')  %}                       
                            <strong>Erreur...</strong>
                        {% endif %}
                        {% if label is same as('error error-raw')  %}
                            {% set passwordHasErrors = true %}
                            <p>{{ message|raw }}</p>
                        {% else %}
                            <p>{{ message }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
            {% if displayForm %}
                <form class="needs-validation fr-mb-5w" name="login-creation-mdp-form" method="POST" novalidate="">
                        <div class="fr-input-group">
                            <label class="fr-label" for="login-email" autocomplete="email">Adresse email</label>
                            <div class="fr-input" id="login-email">{{ user.email }}</div>
                        </div>
                        <div class="fr-password fr-input-group fr-input-group-password">
                            <label class="fr-label" for="login-password">
                                Mot de passe
                                <span class="fr-hint-text">Choisissez un mot de passe <u>fort et unique</u></span>
                            </label>
                            <div class="fr-input-wrap">
                                <input 
                                class="fr-input fr-password__input" 
                                type="password" 
                                id="login-password" 
                                name="password" 
                                minlength="8" 
                                autocomplete="new-password" 
                                required
                                {% if passwordHasErrors %}aria-describedby="password-has-error"{% endif %}
                                >
                            </div>
                            <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm">
                                <input aria-label="Afficher le mot de passe" id="login-password-show" type="checkbox" aria-describedby="login-password-show-messages">
                                <label class="fr-password__checkbox fr-label" for="login-password-show">
                                    Afficher
                                </label>
                                <div class="fr-messages-group" id="login-password-show-messages" aria-live="assertive">
                                </div>
                            </div>
                            <div class="fr-messages-group" id="password-input-messages" aria-live="assertive">
                                <p class="fr-message">Votre mot de passe doit contenir :</p>
                                <p class="message-password fr-message fr-message--info" id="password-input-message-info-length">12 caractères minimum</p>
                                <p class="message-password fr-message fr-message--info" id="password-input-message-info-maj">1 caractère majuscule minimum</p>
                                <p class="message-password fr-message fr-message--info" id="password-input-message-info-min">1 caractère minuscule minimum</p>
                                <p class="message-password fr-message fr-message--info" id="password-input-message-info-nb">1 chiffre minimum</p>
                                <p class="message-password fr-message fr-message--info" id="password-input-message-info-special">1 caractère spécial minimum</p>
                            </div>
                        </div>
                        <div class="fr-password fr-input-group fr-input-group-password-repeat">
                            <label class="fr-label" for="login-password-repeat">Confirmation du mot de passe</label>
                            <div class="fr-input-wrap">
                                <input class="fr-input fr-password__input" type="password" id="login-password-repeat" name="password-repeat" required minlength="8" autocomplete="new-password" >
                            </div>
                            <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm">
                                <input aria-label="Afficher le mot de passe" id="login-password-repeat-show" type="checkbox" aria-describedby="login-password-repeat-show-messages">
                                <label class="fr-password__checkbox fr-label" for="login-password-repeat-show">
                                    Afficher
                                </label>
                                <div class="fr-messages-group" id="login-password-repeat-show-messages" aria-live="assertive">
                                </div>
                            </div>
                            <p id="password-match-error" class="fr-error-text fr-hidden fr-col-12">
                                Les mots de passe ne correspondent pas.
                            </p>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('create_password_'~user.id) }}">
                        <div class="fr-input-group">
                            <button class="fr-btn fr-btn--icon-left fr-icon-check-line" id="submitter">
                                Confirmer
                            </button>
                        </div>
                </form>
                {% else %}
                    <ul class="">
                        <li>
                            <a href="{{ path('app_login') }}" class="">
                                Se connecter
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('request_account_activation') }}" class="">
                                Activer votre compte
                            </a>
                        </li>
                    </ul>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}
