<fieldset class="fr-fieldset" id="signalement_front_{{ name }}" aria-labelledby="signalement_front_{{ name }}_legend">
    <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="signalement_front_{{ name }}_legend">
        {% if displayLabel %}
            {{ form_label(formObject) }}
        {% endif %}
    </legend>
    {% for key, choice in formObject.children %}
        <div class="fr-fieldset__element">
            <div class="fr-radio-group">
                {{ form_widget(choice) }}
                {{ form_label(choice) }}
            </div>
        </div>
    {% endfor %}
    <p class="fr-error-text fr-hidden">
        {{ errorLabel }}
    </p>
</fieldset>