{% import "common/components/macro-forms.html.twig" as forms %}
{% use 'common/form/custom_theme.html.twig' %}
{% form_theme form 'common/form/custom_theme.html.twig' %}

<div class="fr-stepper">
    <h2 class="fr-stepper__title fr-h2">
        <span class="fr-stepper__state">Étape 2 sur 2</span>
        Intervention
        <span class="fr-stepper__hidden" data-step="2"></span>
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="2" data-fr-steps="2"></div>
</div>

<p>Sélectionnez le type d'intervention puis remplissez les champs proposés.</p>

<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-6">
        <div class="fr-form-group">
            {{ forms.select(form.typeIntervention, 'Veuillez renseigner le type d\'intervention.') }}
        </div>

        {% if form.entreprise is defined %}
            <div class="fr-form-group fr-mt-3v">
                {{ forms.select(form.entreprise, 'Veuillez renseigner l\'entreprise.') }}
            </div>
        {% endif %}
    </div>
</div>

<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-6">
        <div class="fr-form-group display-if-diagnostic display-if-traitement">
            {{ forms.input(form.dateIntervention, 'Veuillez renseigner la date d\'intervention.') }}
        </div>

        <div class="fr-form-group display-if-diagnostic display-if-traitement fr-mt-3v">
            {{ forms.select(form.agent, 'Veuillez renseigner l\'agent.') }}
        </div>

        <div class="fr-form-group display-if-diagnostic display-if-traitement fr-mt-3v">
            {{ forms.select(form.niveauInfestation, 'Veuillez renseigner le niveau d\'infestation.') }}
        </div>

        <div class="fr-form-group display-if-traitement fr-mt-3v">
            {{ forms.select(form.typeTraitement, 'Veuillez renseigner le type de traitement.', true) }}
        </div>

        <div class="fr-form-group display-if-traitement display-if-biocide fr-mt-3v">
            {{ forms.input(form.nomBiocide, 'Veuillez renseigner le nom du Biocide.', true) }}
        </div>

        <div class="fr-form-group display-if-diagnostic fr-mt-3v">
            {{ forms.radio_choice(form.typeDiagnostic, 'Veuillez renseigner le type de diagnostic.') }}
        </div>
    </div>

    <div class="fr-col-12 fr-col-md-6">
        <div class="fr-form-group display-if-traitement">
            {{ forms.input(form.nombrePiecesTraitees, 'Veuillez renseigner le nombre de pièces traitées.') }}
        </div>

        <div class="fr-form-group display-if-traitement fr-mt-3v">
            {{ forms.input(form.delaiEntreInterventions, 'Veuillez renseigner le délai entre les interventions.') }}
        </div>

        <div class="fr-form-group display-if-traitement fr-mt-3v">
            {{ forms.radio_choice(form.faitVisitePostTraitement, 'Veuillez renseigner la visite post-traitement.') }}
        </div>

        <div class="fr-form-group display-if-traitement fr-mt-3v">
            {{ forms.input(form.dateVisitePostTraitement, 'Veuillez renseigner la date de la visite post-traitement.') }}
        </div>

        <div class="fr-form-group display-if-diagnostic display-if-traitement fr-mt-3v">
            {{ forms.input(form.prixFactureHT, 'Veuillez renseigner le prix facturé.', true) }}
        </div>
    </div>
</div>

<nav class="stepper-previous fr-my-3w">
    <button class="fr-btn fr-btn--icon-left fr-icon-checkbox-circle-line" disabled>Valider</button>
    <button type="button" class="go-previous fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-s-line">Précédent</button>
</nav>
