{% extends 'base-back.html.twig' %}

{% block title %}Les données historiques{% endblock %}

{% block body %}
<div class="liste-signalements fr-p-5w">
    <div class="fr-container">
        <div class="add-button-container">
            <a href="{{ path('app_signalement_create') }}" class="fr-btn fr-btn--icon-left fr-icon-add-line">Créer un signalement</a>
        </div>
        <h1>Données historiques</h1>

        {% if display_signalement_create_success %}
        <div class="fr-mb-3w">
            <div class="fr-alert fr-alert--success">
                <h3 class="fr-alert__title">Le signalement a bien été enregistré.</h3>
            </div>
        </div>
        {% endif %}

        <div class="fr-grid-row fr-grid-row--gutters" role="search">
            <div class="fr-input-group fr-col-12 fr-col-lg-3">
                <label class="fr-label" for="search-free">Recherche libre</label>
                <div class="fr-input-wrap fr-icon-search-line">
                    <input type="text" class="fr-input" id="search-free" placeholder="Référence, nom...">
                </div>
            </div>

            <div class="fr-input-group fr-col-12 fr-col-lg-3">
                <label class="fr-label" for="search-address">Adresse</label>
                <div class="fr-input-wrap fr-icon-search-line">
                    <input type="text" class="fr-input" id="search-address" placeholder="Ville, CP...">
                </div>
            </div>

            <div class="fr-select-group fr-col-12 fr-col-lg-3">
                {% include "common/components/filters/filter-niveau-infestation.html.twig" %}
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    <label class="fr-label" for="filter-entreprise">Entreprise</label>
                    <select class="fr-select" id="filter-entreprise">
                        <option value="" selected>Toutes</option>
                        {% if entreprises is not empty %}
                            {% for entreprise in entreprises %}
                                <option value="{{ entreprise.nom }}">{{ entreprise.nom }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="fr-container fr-mt-3w">
        <h2><span id="count-signalement">{{ count_signalement }}</span> signalements trouvés</h2>

        {% if signalements is not empty %}
            <table id="datatable" class="liste-signalements-historique nowrap">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Créé le</th>
                        <th>Intervention</th>
                        <th>Date</th>
                        <th>Infestation</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Entreprise</th>
                        {% endif %}
                        <th>Commune</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for signalement in signalements %}
                        <tr>
                            <td data-order="{{ signalement.reference|reference_sortable }}">{{ signalement.reference }} <span class="fr-hidden">{{ signalement.nomOccupant }} {{ signalement.prenomOccupant }} {{ signalement.emailOccupant }}</span></td>
                            <td data-order="{{ signalement.createdAt.format('Y-m-d') }}">{{ signalement.createdAt.format('d/m/Y') }}</td>
                            <td><span>{{ signalement.typeIntervention|capitalize }}</span></td>
                            <td>{{ signalement.dateIntervention ? signalement.dateIntervention.format('d/m/Y') : '/' }}</td>
                            <td>
                                {% include "common/components/niveau-infestation.html.twig" %}
                            </td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>{{ signalement.entreprise ? signalement.entreprise.nom : '/' }}</td>
                            {% endif %}
                            <td>{{ signalement.codePostal }} {{ signalement.ville }}</td>
                            <td class="button-view"><a href="{{ path('app_signalement_historique_view',{uuid:signalement.uuid}) }}" class="fr-btn fr-icon-arrow-right-fill" title="Voir le signalement {{ signalement.reference }}"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        {% else %}
            Aucun.
        {% endif %}
    </div>
</div>
{% endblock %}
