{% extends 'base.html.twig' %}

{% block title %}Stop punaises - Les signalements{% endblock %}

{% block body %}
<div class="liste-signalements fr-p-5w">
    <div class="add-button-container">
        <a href="{{ path('app_signalement_create') }}" class="fr-btn fr-btn--icon-left fr-icon-add-line">Créer un signalement</a>
    </div>
    <h1>Liste des signalements</h1>

    {% if display_signalement_create_success %}
    <div>
        <div class="fr-alert fr-alert--success">
            <h3 class="fr-alert__title">Le signalement a bien été enregistré.</h3>
        </div>
    </div>
    {% endif %}

    <div>
    Filtres
    </div>

    <div>
    <h2>{{ count_signalement }} signalements trouvés</h2>

    {% if signalements is not empty %}
        <table id="datatable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Créé le</th>
                    <th>Intervention</th>
                    <th>Date</th>
                    <th>Infestation</th>
                    <th>Commune</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for signalement in signalements %}
                    <tr>
                        <td>{{ signalement.reference }}</td>
                        <td>{{ signalement.createdAt.format('d/m/Y') }}</td>
                        <td><span>{{ signalement.typeIntervention|capitalize }}</span></td>
                        <td>{{ signalement.dateIntervention.format('d/m/Y') }}</td>
                        <td>
                            <span class="niveau-{{ signalement.niveauInfestation }}">
                                {% if signalement.niveauInfestation == 0 %}
                                    0 - Nulle
                                {% elseif signalement.niveauInfestation == 1 %}
                                    1 - Faible
                                {% elseif signalement.niveauInfestation == 2 %}
                                    2 - Moyenne
                                {% elseif signalement.niveauInfestation == 3 %}
                                    3 - Elevée
                                {% elseif signalement.niveauInfestation == 4 %}
                                    4 - Très élevée
                                {% endif %}
                            </span>
                        </td>
                        <td>{{ signalement.codePostal }} {{ signalement.ville }}</td>
                        <td><a href="#" class="fr-btn fr-icon-arrow-right-fill" title="Voir le signalement"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
</div>
{% endblock %}
