{% extends 'base-back.html.twig' %}

{% block title %}Stop punaises - Les signalements usagers{% endblock %}

{% block body %}
<div class="liste-signalements fr-p-5w grey-bg">
    <div class="fr-container">
        <h1>Signalements usagers</h1>

        <div class="fr-grid-row fr-grid-row--gutters">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    {% include "common/components/filters/filter-territoire.html.twig" %}
                </div>

                <div class="fr-input-wrap fr-icon-search-line fr-col-12 fr-col-lg-3">
                    <input type="text" class="fr-input" id="search-address" placeholder="Ville, CP...">
                </div>

                <div class="fr-input-wrap fr-col-12 fr-col-lg-3">
                    <input type="date" id="filter-date">
                </div>
                
                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    <select class="fr-select" id="filter-type">
                        <option value="">Type</option>
                        <option value="A traiter">A traiter</option>
                        <option value="Auto-traitement">Auto-traitement</option>
                    </select>
                </div>

                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    {% include "common/components/filters/filter-niveau-infestation.html.twig" %}
                </div>

                {#
                todo : état infestation
                    -> Tous / Résolu / Non résolu
                #}

                {#<div class="fr-select-group fr-col-12 fr-col-lg-3">
                    {% include "common/components/filters/filter-statut.html.twig" %}
                </div>#}

                {#
                todo : motif de cloture
                    -> Tous / Problème résolu / Estimations refusées / Arrêt usager
                #}

            {% else %}
                <div class="fr-input-wrap fr-col-12 fr-col-lg-3">
                    <input type="date" id="filter-date">
                </div>

                <div class="fr-input-wrap fr-icon-search-line fr-col-12 fr-col-lg-3">
                    <input type="text" class="fr-input" id="search-address" placeholder="Ville, CP...">
                </div>

                {#<div class="fr-select-group fr-col-12 fr-col-lg-3">
                    {% include "common/components/filters/filter-statut.html.twig" %}
                </div>#}

                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    {% include "common/components/filters/filter-niveau-infestation.html.twig" %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="fr-container fr-mt-3w">
        <h2><span id="count-signalement">{{ count_signalement }}</span> signalements trouvés</h2>

        {% if signalements is not empty %}
            <table id="datatable" class="liste-signalements-usagers">
                <thead>
                    <tr>
                        <th>Statut</th>
                        <th>ID</th>
                        <th>Créé le</th>
                        <th>Infestation</th>
                        <th>Commune</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Type</th>
                            {#<th>Procédure</th>#}
                        {% endif %}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for signalement in signalements %}
                        <tr>
                            <td>{% include "common/components/signalement-statut.html.twig" %}</td>
                            <td>{{ signalement.reference }}</td>
                            <td>{{ signalement.createdAt.format('d/m/Y') }}</td>
                            <td>{% include "common/components/niveau-infestation.html.twig" %}</td>
                            <td>{{ signalement.codePostal }} {{ signalement.ville }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>{{ signalement|type_signalement }}</td>
                                {#<td>{% include "common/components/signalement-procedure.html.twig" %}</td>#}
                            {% endif %}
                            <td class="button-view">
                                <a href="{{ path('app_signalement_view',{uuid:signalement.uuid}) }}" class="fr-btn fr-icon-arrow-right-fill" title="Voir le signalement"></a>
                                <span style="display: none;">{{ signalement.territoire.nomComplet }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        {% else %}
            Aucun.
        {% endif %}
    </div>
</div>
{% endblock %}
