<dialog aria-labelledby="fr-modal-title-modal-edit-employe-{{employeUuid}}" role="dialog" id="fr-modal-edit-employe-{{employeUuid}}" class="fr-modal fr-sidemodal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-edit-employe-{{employeUuid}}" type="button">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-edit-employe-{{employeUuid}}" class="fr-modal__title">Modifier les infos employé</h1>
                        <p>Modifiez les informations en complétant les champs ci-dessous.</p>

                        <form action="{{ path('app_entreprise_view',{uuid:entreprise.uuid}) }}" method="POST" class="fr-my-5w">
                            {{ form_row(formEditEmploye._token) }}

                            <input type="hidden" name="editEmploye" value="{{employeUuid}}">

                            <div class="fr-form-group">
                                <div class="fr-input-group">
                                    <label class="fr-label required" for="employe_nom_{{employeUuid}}">Nom</label>
                                    {{ form_widget(formEditEmploye.nom, { 'id': 'employe_nom_'~employeUuid }) }}
                                    <p class="fr-error-text fr-hidden">
                                        Veuillez renseigner le nom.
                                    </p>
                                </div>
                            </div>

                            <div class="fr-form-group">
                                <div class="fr-input-group">
                                    <label class="fr-label required" for="employe_prenom_{{employeUuid}}">Prénom</label>
                                    {{ form_widget(formEditEmploye.prenom, { 'id': 'employe_prenom_'~employeUuid }) }}
                                    <p class="fr-error-text fr-hidden">
                                        Veuillez renseigner le prénom.
                                    </p>
                                </div>
                            </div>
                            
                            <div class="fr-form-group">
                                <div class="fr-input-group">
                                    <label class="fr-label required" for="employe_numeroCertification_{{employeUuid}}">Certification Biocide</label>
                                    {{ form_widget(formEditEmploye.numeroCertification, { 'id': 'employe_numeroCertification_'~employeUuid }) }}
                                    <p class="fr-error-text fr-hidden">
                                        Veuillez renseigner le numéro de certification.
                                    </p>
                                </div>
                            </div>
                            
                            <div class="fr-form-group">
                                <div class="fr-input-group">
                                    <label class="fr-label" for="employe_telephone_{{employeUuid}}">Téléphone (facultatif)</label>
                                    {{ form_widget(formEditEmploye.telephone, { 'id': 'employe_telephone_'~employeUuid }) }}
                                </div>
                            </div>
                            
                            <div class="fr-form-group">
                                <div class="fr-input-group">
                                    <label class="fr-label" for="employe_email_{{employeUuid}}">Email (facultatif)</label>
                                    {{ form_widget(formEditEmploye.email, { 'id': 'employe_email_'~employeUuid }) }}
                                </div>
                            </div>

                            <button class="fr-btn fr-btn--icon-left fr-icon-checkbox-circle-line">Valider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>