<dialog aria-labelledby="fr-modal-title-modal-create-employe" id="fr-modal-create-employe" class="fr-modal fr-sidemodal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-create-employe" type="button">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-create-employe" class="fr-modal__title"><span class="fr-fi-arrow-right-line fr-fi--lg"></span>Ajouter un employé</h1>
                        <p>Remplissez le formulaire ci-dessous pour ajouter un employé.</p>
                        {% import "common/components/macro-forms.html.twig" as forms %}
                        {% use 'common/form/custom_theme.html.twig' %}
                        {% form_theme formCreateEmploye 'common/form/custom_theme.html.twig' %}

                        <form action="{{ path('app_entreprise_view',{uuid:entreprise.uuid}) }}" method="POST" class="fr-my-5w">
                            {{ form_row(formCreateEmploye._token) }}

                            <div class="fr-form-group fr-mt-3v">
                                {{ forms.input(formCreateEmploye.nom, 'Veuillez renseigner le nom.') }}
                            </div>

                            <div class="fr-form-group fr-mt-3v">
                                {{ forms.input(formCreateEmploye.prenom, 'Veuillez renseigner le prénom.') }}
                            </div>
                            
                            <div class="fr-form-group fr-mt-3v">
                                {{ forms.input(formCreateEmploye.numeroCertification, 'Veuillez renseigner le numéro de certification.') }}
                            </div>
                            
                            <div class="fr-form-group fr-mt-3v">
                                {{ forms.input(formCreateEmploye.telephone, 'Veuillez renseigner le numéro de téléphone.', true) }}
                            </div>
                            
                            <div class="fr-form-group fr-mt-3v">
                                {{ forms.input(formCreateEmploye.email, 'Veuillez renseigner l\'email.', true) }}
                            </div>

                            <button class="fr-btn fr-btn--icon-left fr-icon-checkbox-circle-line">Valider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>