{% extends 'front_signalement/base_step.html.twig' %}
{% use 'common/form/custom_theme.html.twig' %}
{% form_theme form 'common/form/custom_theme.html.twig' %}

{% block content %}
    {% import "common/components/macro-forms.html.twig" as forms %}
    <div class="fr-stepper">
        <h1 class="fr-stepper__title fr-h2">
            Informations du logement
            <span class="fr-stepper__state">Étape 1 sur 8</span>
        </h1>
        <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="8"></div>
        <p class="fr-stepper__details">
            <span class="fr-text--bold">Étape suivante :</span> Durée de l'infestation
        </p>
    </div>
    {{ form_widget(form._token) }}
    {{ forms.radio_choice(form.typeLogement, 'Veuillez renseigner le type de logement.') }}

    <div class="fr-form-group">
        <div class="fr-input-group">
            {{ form_label(form.superficie) }}
            {{ form_widget(form.superficie) }}
            <span class="input-precision">m²</span>
            <p id="{{ form.superficie.vars.id }}-error" class="fr-error-text fr-hidden">
                Veuillez renseigner la superficie de votre logement.
            </p>
        </div>
    </div>

    <div class="fr-form-group">
        <div class="fr-input-group search-address">
            <label for="rechercheAdresse" class="fr-label required">Mon adresse est…
                <span class="fr-hint-text help-text">Saisissez le début de votre adresse puis sélectionnez-la dans la liste.</span>
            </label>
            <div class="fr-input-wrap fr-icon-map-pin-2-line">
                <input id="rechercheAdresse"
                       type="text"
                       class="fr-input"
                       autocomplete="street"
                       aria-controls="rechercheAdresseListe"
                       aria-autocomplete="list"
                       role="combobox"

                >
                <p id="rechercheAdresse-error" class="fr-error-text fr-hidden">
                    Veuillez renseigner et sélectionner l'adresse de votre logement.
                </p>
            </div>
            <ul id="rechercheAdresseListe"
                class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france fr-autocomplete-list">
            </ul>
        </div>
                
        <div class="fr-toggle">
            <input type="checkbox" class="fr-toggle__input" aria-describedby="toggle-skip-search-address-hint-text" id="toggle-skip-search-address">
            <label class="fr-toggle__label"
                   for="toggle-skip-search-address"
                   data-fr-checked-label="Activée"
                   data-fr-unchecked-label="Désactivée">Saisie manuelle de l'adresse</label>
        </div>
    </div>

    <div class="fr-hidden address-fields">
        <div class="fr-form-group">
            {{ forms.input(form.adresse, 'Veuillez renseigner l\'adresse.') }}
        </div>

        <div class="fr-form-group">
            {{ forms.input(form.codePostal, 'Veuillez renseigner le code postal.', true) }}
        </div>

        {{ form_widget(form.codeInsee) }}

        <div class="fr-form-group">
            {{ forms.input(form.ville, 'Veuillez renseigner la ville.') }}
        </div>

        {{ form_widget(form.geoloc) }}
        
    </div>

    {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Suivant', 'previous': 'Précédent' } %}
{% endblock %}
