{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    <div class="fr-stepper">
        <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="8"></div>
    </div>

    <div class="fr-form-group">
        <div class="fr-select-group">
            {{ form_label(form.typeLogement) }}
            {{ form_widget(form.typeLogement) }}
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner le type de logement.
            </p>
        </div>
    </div>

    <div class="fr-form-group">
        <div class="fr-input-group">
            {{ form_label(form.superficie) }}
            {{ form_widget(form.superficie) }}
            <span class="input-precision">m²</span>
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner la superficie de votre logement.
            </p>
        </div>
    </div>

    <div class="fr-form-group">
        <div class="fr-input-group search-address">
            <label for="rechercheAdresse" class="fr-label required">Mon adresse est...</label>
            <span class="fr-hint-text help-text">Saisissez le début de votre adresse puis sélectionnez-la dans la liste.</span>
            <div class="fr-input-wrap fr-icon-map-pin-2-line">
                <input id="rechercheAdresse" type="text" class="fr-input">
                <p class="fr-error-text fr-hidden">
                    Veuillez renseigner l'adresse de votre logement.
                </p>
            </div>
            <div id="rechercheAdresseListe" class="fr-mt-1v fr-py-1w">
                <select size="5">
                </select>
            </div>
                
            <a href="#" class="skip-search-address">Saisir manuellement</a>
        </div>
    </div>

    <div class="fr-hidden address-fields">
        <div class="fr-form-group">
            <div class="fr-input-group">
                {{ form_label(form.adresse) }}
                {{ form_widget(form.adresse) }}
                <p class="fr-error-text fr-hidden">
                    Veuillez renseigner l'adresse.
                </p>
            </div>
        </div>

        <div class="fr-form-group">
            <div class="fr-input-group">
                {{ form_label(form.codePostal) }}
                {{ form_widget(form.codePostal) }}
                <p class="fr-error-text fr-hidden">
                    Veuillez renseigner le code postal.
                </p>
            </div>
        </div>

        {{ form_widget(form.codeInsee) }}

        <div class="fr-form-group">
            <div class="fr-input-group">
                {{ form_label(form.ville) }}
                {{ form_widget(form.ville) }}
                <p class="fr-error-text fr-hidden">
                    Veuillez renseigner la ville.
                </p>
            </div>
        </div>

        {{ form_widget(form.geoloc) }}
        
    </div>

    {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Suivant', 'previous': 'Précédent' } %}
{% endblock %}