{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    {% import "common/components/macro-forms.html.twig" as forms %}
    {% use 'common/form/custom_theme.html.twig' %}
    {% form_theme form 'common/form/custom_theme.html.twig' %}
    <div class="fr-stepper">
        <h1 class="fr-stepper__title fr-h2">
            Informations du logement
            <span class="fr-stepper__state">Étape 1 sur 8</span>
        </h1>
        <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="8"></div>
        <p class="fr-stepper__details">
            <span class="fr-text--bold">Étape suivante :</span> Durée de l'infestation
        </p>
    </div>

    {{ forms.radio_choice(form.locataire, 'Veuillez renseigner si vous êtes propriétaire ou locataire.') }}

    <div id="form-group-nomProprietaire" class="fr-form-group">
        {{ forms.input(form.nomProprietaire, 'Veuillez renseigner le nom du bailleur / propriétaire.') }}
    </div>

    {{ forms.radio_choice(form.logementSocial, 'Veuillez renseigner si vous vivez dans un logement social.') }}

    {{ forms.radio_choice(form.allocataire, 'Veuillez renseigner si vous touchez une allocation logement.') }}

    <div id="form-group-numeroAllocataire" class="fr-form-group">
        {{ forms.input(form.numeroAllocataire, 'Veuillez renseigner  votre numéro d\'allocataire.') }}
    </div>

    {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Suivant', 'previous': 'Précédent' } %}
{% endblock %}
