{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    {% import "common/components/macro-forms.html.twig" as forms %}
    <div class="if-territory-open">
        <div class="fr-stepper">
            <h1 class="fr-stepper__title fr-h2">
                Vos coordonnées
                <span class="fr-stepper__state">Étape 7 sur 8</span>
            </h1>
            <div class="fr-stepper__steps" data-fr-current-step="7" data-fr-steps="8"></div>
            <p class="fr-stepper__details">
                <span class="fr-text--bold">Étape suivante :</span> Votre recommandation
            </p>
        </div>
        
        <div>
            <h2 class="fr-h3">C'est presque fini&nbsp;!</h2>

            <p>
                Renseignez vos coordonnées pour afficher votre recommandation personnalisée.
            </p>
        </div>

        {{ form_widget(form.niveauInfestation) }}
    </div>

    <div class="if-territory-not-open">
        <h1 class="fr-h2">Stop punaises</h1>

        <p>
            Renseignez vos coordonnées pour accéder à la liste des entreprises labellisées de votre département
            et recevoir le protocole de préparation et d'auto-traitement par e-mail.
            <input type="hidden" id="url-entreprises-publiques" value="{{ path('app_front_entreprises_labellisees') }}?code-postal=">
        </p>

        <p>
            Vous pouvez également contacter le service "Info logement indigne" au
            <a href="tel:+33806706806" title="Appeler le service Info logement indigne">0806&nbsp;706&nbsp;806</a>
            (prix d'un appel local).
        </p>
    </div>

    <div class="if-logement-social">
        <h1 class="fr-h2">Stop punaises</h1>

        <p>
            En tant que locataire du parc social, votre bailleur doit avoir un service 
            de gestion des nuisibles et punaises de lit.
        </p>

        <p>
            Ceux-ci n’étant pas encore connectés à la plateforme, <strong>nous vous invitons 
            à contacter sans plus attendre votre bailleur pour lui signifier votre 
            problème et lui demander d’intervenir dans les meilleurs délais</strong>.
        </p>

        <p>
            Vous pouvez également renseigner vos coordonnées pour recevoir le protocole 
            d’auto-traitement par mail qui facilitera l’intervention de votre bailleur 
            et limitera la diffusion du problème
        </p>
    </div>

    <div class="fr-form-group">
        {{ forms.input(form.nomOccupant, 'Veuillez renseigner votre nom.') }}
    </div>

    <div class="fr-form-group">
        {{ forms.input(form.prenomOccupant, 'Veuillez renseigner votre prénom.') }}
    </div>

    <div class="fr-form-group if-territory-open">
        {{ forms.input(form.telephoneOccupant, 'Veuillez renseigner votre numéro de téléphone.', true) }}
    </div>

    <div class="fr-form-group">
        {{ forms.input(form.emailOccupant, 'Veuillez renseigner votre adresse e-mail.', true) }}
    </div>

    {{ form_widget(form.autotraitement) }}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('front-add-signalement') }}">

    <div class="if-logement-social">
        {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Recevoir le protocole', 'previous': 'Retour' } %}
    </div>
    <div class="if-territory-not-open">
        {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Afficher la liste des entreprises', 'previous': 'Retour' } %}
    </div>
    <div class="if-territory-open">
        {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Suivant', 'previous': 'Retour' } %}
    </div>
{% endblock %}
