{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    <div class="fr-stepper">
        <div class="fr-stepper__steps" data-fr-current-step="5" data-fr-steps="8"></div>
    </div>

    <div class="fr-form-group">
        <div class="fr-select-group">
            {{ form_label(form.oeufsEtLarvesTrouves) }}
            {{ form_widget(form.oeufsEtLarvesTrouves) }}
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner si vous avez trouvé des oeufs et larves.
            </p>
        </div>
    </div>

    <div class="fr-form-group">
        <div class="fr-select-group">
            {{ form_label(form.oeufsEtLarvesNombrePiecesConcernees) }}
            {{ form_widget(form.oeufsEtLarvesNombrePiecesConcernees) }}
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner le nombre de pièces concernées.
            </p>
        </div>
    </div>

    <div class="fr-form-group">
        <div class="fr-select-group">
            {{ form_label(form.oeufsEtLarvesFaciliteDetections) }}
            {{ form_widget(form.oeufsEtLarvesFaciliteDetections) }}
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner comment vous trouvez les oeufs et larves.
            </p>
        </div>
    </div>

    <div class="fr-form-group">
        <div class="fr-select-group">
            {{ form_label(form.oeufsEtLarvesLieuxObservations) }}
            {{ form_widget(form.oeufsEtLarvesLieuxObservations) }}
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner les endroits où vous les voyez.
            </p>
        </div>
    </div>

    {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Suivant', 'previous': 'Précédent' } %}
{% endblock %}