{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    <div class="fr-stepper">
        <div class="fr-stepper__steps" data-fr-current-step="6" data-fr-steps="8"></div>
    </div>

    {#
    
            ->add('punaisesTrouvees', ChoiceType::class, [
                'attr' => [
                    'class' => 'fr-radio',
                ],
                'choices' => [
                    'Oui' => true,
                    'Non' => false,
                ],
                'expanded' => true,
                'label_attr' => [
                    'class' => 'fr-label',
                ],
                'label' => 'Il y a des punaises dans mon logement',
                'row_attr' => [
                    'class' => 'fr-select-group',
                ],
                'required' => true,
            ])
            ->add('punaisesNombrePiecesConcernees', ChoiceType::class, [
                'attr' => [
                    'class' => 'fr-radio',
                ],
                'choices' => [
                    '1 pièce' => 1,
                    '2 pièces ou +' => 2,
                ],
                'expanded' => true,
                'label_attr' => [
                    'class' => 'fr-label',
                ],
                'label' => 'Dans combien de pièces ?',
                'row_attr' => [
                    'class' => 'fr-select-group',
                ],
                'required' => true,
            ])
            ->add('punaisesFaciliteDetections', ChoiceType::class, [
                'attr' => [
                    'class' => 'fr-radio',
                ],
                'choices' => [
                    'Facilement' => 'FACILE',
                    'En cherchant bien' => 'RECHERCHE',
                ],
                'expanded' => true,
                'label_attr' => [
                    'class' => 'fr-label',
                ],
                'label' => 'Je trouve les oeufs et les larves...',
                'row_attr' => [
                    'class' => 'fr-select-group',
                ],
                'required' => true,
            ])
            ->add('punaisesLieuxObservations', ChoiceType::class, [
                'attr' => [
                    'class' => 'fr-radio',
                ],
                'choices' => [
                    'Le lit' => 'LIT',
                    'Le canapé' => 'CANAPE',
                    'Des meubles' => 'MEUBLES',
                    'Les murs' => 'MURS',
                ],
                'expanded' => true,
                'label_attr' => [
                    'class' => 'fr-label',
                ],
                'label' => 'Je les vois sur...',
                'row_attr' => [
                    'class' => 'fr-select-group',
                ],
                'multiple' => true,
                'required' => true,
                'help' => 'Plusieurs réponses possibles',
                'help_attr' => [
                    'class' => 'fr-hint-text',
                ],
            ])

    <div class="fr-form-group">
        <div class="fr-select-group">
            {{ form_label(form.punaisesTrouvees) }}
            {{ form_widget(form.punaisesTrouvees) }}
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner si vous avez trouvé des punaises de lit.
            </p>
        </div>
    </div>

    <div class="fr-form-group">
        <div class="fr-select-group">
            {{ form_label(form.punaisesNombrePiecesConcernees) }}
            {{ form_widget(form.punaisesNombrePiecesConcernees) }}
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner le nombre de pièces concernées.
            </p>
        </div>
    </div>

    <div class="fr-form-group">
        <div class="fr-select-group">
            {{ form_label(form.punaisesFaciliteDetections) }}
            {{ form_widget(form.punaisesFaciliteDetections) }}
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner comment vous trouvez les punaises de lit.
            </p>
        </div>
    </div>

    <div class="fr-form-group">
        <div class="fr-select-group">
            {{ form_label(form.punaisesLieuxObservations) }}
            {{ form_widget(form.punaisesLieuxObservations) }}
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner les endroits où vous les voyez.
            </p>
        </div>
    </div>
    #}

    {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Suivant', 'previous': 'Précédent' } %}
{% endblock %}