{% extends 'base.html.twig' %}

{% block title %}Déposer un signalement pour mon logement{% endblock %}

{% block body %}

<form action="{{ path('app_front_signalement_add') }}"
      class="front-signalement fr-container fr-my-3w"
      data-code-postal="{{ code_postal }}"
      data-territoires-actives="{{ territoires_actives }}">

    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{{ path('home') }}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ path('app_front_signalement_type_list') }}">Signaler un problème de punaises de lit</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Dans mon logement</a>
                </li>
            </ol>
        </div>
    </nav>

    {% include 'front_signalement/_partial_step_home.html.twig' %}

    {% include 'front_signalement/_partial_step_info_intro.html.twig' with {'step': 'info_intro'} %}
    {% include 'front_signalement/_partial_step_info_logement.html.twig' with {'step': 'info_logement'} %}
    {% include 'front_signalement/_partial_step_info_locataire.html.twig' with {'step': 'info_locataire'} %}
    {% include 'front_signalement/_partial_step_info_problemes.html.twig' with {'step': 'info_problemes'} %}

    {% include 'front_signalement/_partial_step_traces_punaises_intro.html.twig' with {'step': 'traces_punaises_intro'} %}
    {% include 'front_signalement/_partial_step_traces_punaises_piqures.html.twig' with {'step': 'traces_punaises_piqures'} %}
    {% include 'front_signalement/_partial_step_traces_punaises_dejections.html.twig' with {'step': 'traces_punaises_dejections'} %}

    {% include 'front_signalement/_partial_step_insectes_larves_intro.html.twig' with {'step': 'insectes_larves_intro'} %}
    {% include 'front_signalement/_partial_step_insectes_larves_oeufs.html.twig' with {'step': 'insectes_larves_oeufs'} %}
    {% include 'front_signalement/_partial_step_insectes_punaises.html.twig' with {'step': 'insectes_punaises'} %}

    {% include 'front_signalement/_partial_step_info_usager.html.twig' with {'step': 'info_usager'} %}
    {% include 'front_signalement/_partial_step_resume.html.twig' with {'step': 'resume'} %}
    {% include 'front_signalement/_partial_step_recommandation.html.twig' with {'step': 'recommandation'} %}

    {% include 'front_signalement/_partial_step_professionnel_info.html.twig' with {'step': 'professionnel_info'} %}
    {% include 'front_signalement/_partial_step_professionnel_sent.html.twig' with {'step': 'professionnel_sent'} %}

    {% include 'front_signalement/_partial_step_autotraitement_info.html.twig' with {'step': 'autotraitement_info'} %}
    {% include 'front_signalement/_partial_step_autotraitement_sent.html.twig' with {'step': 'autotraitement_sent'} %}

</form>

{% endblock %}
