{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% import "common/components/macro-forms.html.twig" as forms %}
    <div id="contact-container" class="fr-container--fluid fr-py-5w fr-py-md-10w">
    
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div role="status" class="fr-alert fr-alert--{{ label }} fr-alert--sm fr-mb-3v">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
            <h1 class="fr-col-11 fr-col-md-8">Contact</h1>

            <div class="information-contact fr-col-11 fr-col-md-8">
                <h2 class="fr-h6">Service Info logement indigne</h2>

                <p class="all-questions">
                    Le réseau des ADIL vous informe gratuitement sur toutes les problématiques logement et habitat.
                </p>
                <p class="all-questions">
                    Pour toute question appelez le&nbsp;:
                </p>
                <p>
                    <a href="tel:+33806706806" title="Appeler le service Info logement indigne au 0806 706 806"><span class="fr-icon-phone-fill">0806 706 806</span></a>
                    <br>
                    <span class="local-phone-price" aria-hidden="true">Prix d'un appel local</span>
                </p>
            </div>

            <h2 class="fr-col-11 fr-col-md-8 fr-h6 fr-mt-5w">
                Une question ? Une précision ? N'hésitez pas à nous envoyer un message !
            </h2>

            <p class="fr-col-11 fr-col-md-8">
                <strong>Attention :</strong>
                le formulaire de contact ne permet pas de déposer un signalement.
                Si vous souhaitez signaler un problème de logement, remplissez
                <a href="{{ path('app_front_signalement_type_list') }}">le formulaire de signalement</a>.
            </p>
            <p class="fr-col-11 fr-col-md-8">
                Tous les champs sont obligatoires.
            </p>

            <div class="fr-col-11 fr-col-md-8 fr-py-5w">
                {{ form_start(form) }}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">
                        {{ forms.input(form.nom, 'Merci de renseigner votre nom complet.') }}
                    </div>

                    <div class="fr-col-12">
                        {{ forms.input(form.email, 'Merci de renseigner votre email.') }}
                    </div>

                    <div class="fr-col-12">
                        {{ forms.input(form.message, 'Merci de renseigner votre message.') }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="fr-col-11 fr-col-md-8">
                <button class="fr-btn fr-rounded fr-fi-mail-fill fr-btn--icon-left" form="front_contact">
                    Envoyer le message
                </button>
            </div>
        </div>
    </div>
{% endblock %}
