{% extends 'base.html.twig' %}

{% block title %}Stop punaises - Les entreprises labellisées{% endblock %}

{% block body %}

    <section class="fr-container fr-mt-3w">
        <h1>Entreprises labellisées - Département {{ code_departement }}</h1>
    </section>

    <section class="fr-container fr-mt-3w">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--right">
            <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                <div class="fr-select-group">
                    <label class="fr-label" for="select-entreprises-filter">
                        Filtré par
                    </label>
                    <select class="fr-select" id="select-entreprises-filter" name="select" data-redirect="{{ path('app_front_entreprises_labellisees') }}?code-postal={{ code_postal }}">
                        <option value="all">Tous</option>
                        <option value="intervention" {{ filter is same as 'intervention' ? 'selected' : '' }}>Intervention</option>
                        <option value="detection-canine" {{ filter is same as 'detection-canine' ? 'selected' : '' }}>Détection canine</option>
                    </select>
                </div>
            </div>
            <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                <div class="fr-select-group">
                    <label class="fr-label" for="select-entreprises-order">
                        Trié par
                    </label>
                    <select class="fr-select" id="select-entreprises-order" name="select" data-redirect="{{ path('app_front_entreprises_labellisees') }}?code-postal={{ code_postal }}">
                        <option value="random">Aléatoire</option>
                        <option value="ASC" {{ order is same as 'ASC' ? 'selected' : '' }}>Ordre alphabétique (A-Z)</option>
                        <option value="DESC" {{ order is same as 'DESC' ? 'selected' : '' }}>Ordre anti-alphabétique (Z-A)</option>
                    </select>
                </div>
            </div>
        </div>
    </section>

    <section class="fr-container fr-my-3w">
        {% if entreprises_publiques %}
        <div class="fr-grid-row fr-grid-row--gutters">
            {% for entreprise_publique in entreprises_publiques %}
                <section class="fr-col-12 fr-col-md-6">
                    <div class="fr-card">
                        <div class="fr-card__body">
                            <div class="fr-card__content">
                                <h3 class="fr-card__title">
                                    <a href="{{ entreprise_publique.url }}" target="_blank" rel="noopener">{{ entreprise_publique.nom }}</a>
                                </h3>
                                {% if entreprise_publique.adresse %}
                                    <p class="fr-card__desc">{{ entreprise_publique.adresse }}</p>
                                {% endif %}
                                {% if entreprise_publique.isIntervention == 1 %}
                                <p class="fr-card__desc fr-badge">Intervention</p>
                                {% elseif entreprise_publique.isDetectionCanine == 1 %}
                                <p class="fr-card__desc fr-badge">Détection canine</p>
                                {% endif %}
                                {% if entreprise_publique.isProOnly == 1 %}
                                <p class="fr-card__desc fr-badge">Pour les professionnels uniquement</p>
                                {% endif %}
                            </div>
                            <div class="fr-card__footer">
                                <ul class="fr-links-group display-list-block">
                                    {% if entreprise_publique.url %}
                                    <li>
                                        <a class="fr-link fr-icon-arrow-right-line fr-link--icon-right" href="{{ entreprise_publique.url }}" target="_blank" rel="noopener">
                                            Accéder au site web
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if entreprise_publique.telephone %}
                                    <li>
                                        <a class="fr-link fr-icon-phone-line fr-link--icon-right" href="tel:{{ entreprise_publique.telephone|format_phone }}">
                                            {{ entreprise_publique.telephone|format_phone }}
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div>

        {% else %}
            Aucune entreprise n'est disponible dans votre département.
        {% endif %}
    </section>

{% endblock %}
