{% extends 'base.html.twig' %}

{% block title %}Tout savoir sur les punaises de lit{% endblock %}

{% block body %}

    <section class="information-header fr-container fr-my-3w fr-my-md-5w">
        <h1>Tout savoir sur les punaises de lit</h1>
        <div class="fr-grid-row fr-grid-row--gutters fr-px-1w">
            <div class="fr-col-12 fr-col-md-6 video-container">
                <video controls>
                    <source src="{{ asset('build/video/lutte-contre-les-punaises-de-lit.mp4') }}" type="video/mp4">
                    <p>
                        Votre navigateur ne prend pas en charge les vidéos HTML5.
                        Voici <a href="{{ asset('build/video/lutte-contre-les-punaises-de-lit.mp4') }}" target="_blank">un lien pour télécharger la vidéo</a>.
                    </p>
                </video>
                <em>Crédit vidéo : Citizen</em>
            </div>
            <div class="fr-col-12 fr-col-md-6">
                <p>Les punaises de lit sont des insectes parasites qui vivent à l'abri de la lumière, dans les espaces sombres.</p>
                <p>
                    Les chambres à coucher et les salons avec canapé sont principalement touchés.
                    <br>
                    En cas d'infestation d'un logement, il est nécessaire de procéder à des mesures strictes pour limiter leur prolifération jusqu'à l'élimination.
                </p>
                <p>
                    Découvrez les moyens de réduire les risques d’infestation, d’identifier la présence de punaises et de vous en débarrasser au plus vite.
                </p>
            </div>
        </div>
    </section>


    <section class="information-comment-reconnaitre-punaise fr-px-2w fr-py-3w fr-py-md-5w">
        <div class="fr-container">
            <h2>Comment reconnaître les punaises de lit ?</h2>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-lg-3">
                    <figure class="fr-content-media" aria-label="Gros plan d'une punaise de lit">
                        <div class="fr-content-media__img">
                            <img src="{{ asset('build/images/punaises-de-lit-gros-plan.jpg') }}" alt="Gros plan d'une punaise de lit">
                        </div>
                        <figcaption class="fr-content-media__caption">Gros plan d'une punaise de lit - Crédit photo : INELP</figcaption>
                    </figure>
                </div>
                <div class="fr-col-12 fr-col-lg-9">
                    <p>
                        Les punaises de lit sont visibles à l'œil nu.
                        Elles ont la taille d’un pépin de pomme et sont généralement brunes.
                        Elles ne sautent pas et ne volent pas.
                    </p>
                    <p>
                        Les punaises de lit se nourrissent de sang et peuvent survivre plusieurs mois voire années sans se nourrir.
                        Elles peuvent piquer plusieurs fois en une seule nuit, provoquant des démangeaisons parfois très fortes.
                    </p>
                    <div class="fr-alert fr-alert--warning fr-alert--sm">
                        <p>
                            Le développement des punaises de lit est rapide !
                            Il est donc important d'intervenir au plus vite pour éviter que l'infestation se propage.
                        </p>
                    </div>
                </div>
            </div>

            <div class="fr-mt-3w">
                <h3>En cas d'infestation, qui doit payer ?</h3>
                <p>
                    Que vous soyez locataire, propriétaire, bailleur, surtout ne perdez pas de temps !
                </p>
                <p>
                    C’est dans cette optique d’intervention la plus rapide possible que le Gouvernement 
                    a reprécisé la Loi de 2018 : le propriétaire du logement doit payer la désinfestation.
                </p>
                <p>
                    Toutefois afin de garantir les meilleures relations possibles avec votre bailleur, 
                    nous vous recommandons de l'informer du problème et des solutions qui vous seront 
                    proposées sur ce site. Idéalement, dans le cas d'une intervention professionnelle, 
                    le choix de l'entreprise doit être accepté par le bailleur.
                </p>
                <p>
                    S’il est impossible d’éliminer toutes les punaises du mobilier et que vous devez le remplacer, 
                    il ne faut pas hésiter non plus malgré le coût, autrement le traitement sera inefficace.
                </p>
                <p class="fr-alert fr-alert--info fr-alert--sm">
                    Si vous êtes allocataire la CAF peut dans certains cas vous aider.
                </p>
            </div>
        </div>
    </section>


    <section class="information-comment-reconnaitre-infestation fr-px-2w fr-py-3w fr-py-md-5w">
        <h2 class="fr-container">Comment reconnaître une infestation ?</h2>
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-lg-8">
                    <div class="no-accordions-group">
                        <h3>Les signes à la maison</h3>
                        <p>
                            Des concentrations de leurs déjections - des petits points noirs – peuvent être observées sur les matelas, 
                            lattes ou fentes du sommier, bois du lit, plinthes, angles des murs…
                            Les punaises de lit vivent principalement dans la chambre à coucher.
                            Elles fuient la lumière et s'abritent dans des endroits sombres, étroits et peu accessibles.
                        </p>
                        <div class="fr-grid-row fr-grid-row--gutters images-container">
                            <div class="fr-col-4 align-center">
                                <figure class="fr-content-media" aria-label="Déjections et œufs de punaises de lit sur un sommier">
                                    <div class="fr-content-media__img">
                                        <img src="{{ asset('build/images/dejections-punaise-sommier.jpg') }}" alt="Déjections et œufs de punaises de lit sur un sommier">
                                    </div>
                                    <figcaption class="fr-content-media__caption">Déjections et œufs de punaises de lit sur un sommier</figcaption>
                                </figure>
                            </div>
                            <div class="fr-col-4 align-center">
                                <figure class="fr-content-media" aria-label="Traces de punaises de lit dans la couture d'un matelas">
                                    <div class="fr-content-media__img">
                                        <img src="{{ asset('build/images/traces-punaise-de-lit-couture-matelas.jpg') }}" alt="Traces de punaises de lit dans la couture d'un matelas">
                                    </div>
                                    <figcaption class="fr-content-media__caption">Traces de punaises de lit dans la couture d'un matelas</figcaption>
                                </figure>
                            </div>
                            <div class="fr-col-4 align-center">
                                <figure class="fr-content-media" aria-label="Infestation massive avec punaises de lit à différents stades de croissance, œufs et mues">
                                    <div class="fr-content-media__img">
                                        <img src="{{ asset('build/images/punaises-infestation-massive-oeufs-mues.jpg') }}" alt="Infestation massive avec punaises de lit à différents stades de croissance, œufs et mues">
                                    </div>
                                    <figcaption class="fr-content-media__caption">Infestation massive avec punaises de lit à différents stades de croissance, œufs et mues</figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="align-center fr-my-3w">
                            <span class="image-caption">Crédit photo : INELP</span>
                        </div>

                        <hr>

                        <h3>Les signes sur la peau</h3>
                        <p>
                            Les piqûres ressemblent à des piqûres de moustique et surviennent surtout la nuit, quand les punaises de lit sont actives.
                            <br>
                            Ces piqûres peuvent se regrouper par 3 ou 4 sur la peau parfois en ligne (si vous constatez beaucoup plus de piqures,
                            il ne s’agit pas de punaises de lit), et sont généralement situées sur les parties découvertes du corps (visage, mains,
                            bras, jambes).
                            Elles ne transmettent pas de maladie mais peuvent causer des démangeaisons importantes voire des réactions 
                            allergiques (urticaire).
                        </p>
                            
                        <p>
                            Si vous avez des piqûres n’hésitez pas à demander à votre pharmacien ou médecin s’il s’agit de piqures de punaises de lit.
                        </p>

                        <div class="fr-grid-row fr-grid-row--gutters images-container">
                            <div class="fr-col-6 align-center">
                                <figure class="fr-content-media" aria-label="Piqures de punaises en ligne sur un bras">
                                    <div class="fr-content-media__img">
                                        <img src="{{ asset('build/images/piqures-punaises-de-lit-bras.jpg') }}" alt="Piqures de punaises en ligne sur un bras">
                                    </div>
                                    <figcaption class="fr-content-media__caption">Piqures de punaises en ligne sur un bras</figcaption>
                                </figure>
                            </div>
                            <div class="fr-col-6 align-center">
                                <figure class="fr-content-media" aria-label="Piqures de punaises groupées dans le cou">
                                    <div class="fr-content-media__img">
                                        <img src="{{ asset('build/images/piqures-punaises-de-lit-cou.jpg') }}" alt="Piqures de punaises groupées dans le cou">
                                    </div>
                                    <figcaption class="fr-content-media__caption">Piqures de punaises groupées dans le cou</figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="align-center fr-my-3w">
                            <span class="image-caption">Crédit photo : INELP</span>
                        </div>

                        <hr>
                    </div>


                    <div class="fr-accordions-group">
                        <section class="fr-accordion">
                            <h3 class="fr-accordion__title">
                                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-signes-maison">Les signes à la maison</button>
                            </h3>
                            <div class="fr-collapse" id="accordion-signes-maison">
                                <p>
                                    Des concentrations de leurs déjections - des petits points noirs – peuvent être observées sur les matelas, 
                                    lattes ou fentes du sommier, bois du lit, plinthes, angles des murs…
                                    Les punaises de lit vivent principalement dans la chambre à coucher.
                                    Elles fuient la lumière et s'abritent dans des endroits sombres, étroits et peu accessibles.
                                </p>
                                <div class="fr-grid-row fr-grid-row--gutters images-container">
                                    <div class="fr-col-4 align-center">
                                        <img src="{{ asset('build/images/dejections-punaise-sommier.jpg') }}" alt="Déjections et œufs de punaises de lit sur un sommier">
                                        <br>
                                        <span class="image-caption">Déjections et œufs de punaises de lit sur un sommier</span>
                                    </div>
                                    <div class="fr-col-4 align-center">
                                        <img src="{{ asset('build/images/traces-punaise-de-lit-couture-matelas.jpg') }}" alt="Traces de punaises de lit dans la couture d'un matelas">
                                        <br>
                                        <span class="image-caption">Traces de punaises de lit dans la couture d'un matelas</span>
                                    </div>
                                    <div class="fr-col-4 align-center">
                                        <img src="{{ asset('build/images/punaises-infestation-massive-oeufs-mues.jpg') }}" alt="Infestation massive avec punaises de lit à différents stades de croissance, œufs et mues">
                                        <br>
                                        <span class="image-caption">Infestation massive avec punaises de lit à différents stades de croissance, œufs et mues</span>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="fr-accordion">
                            <h3 class="fr-accordion__title">
                                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-signes-peau">Les signes sur la peau</button>
                            </h3>
                            <div class="fr-collapse" id="accordion-signes-peau">
                                <p>
                                    Les piqûres ressemblent à des piqûres de moustique et surviennent surtout la nuit, quand les punaises de lit sont actives.
                                    <br>
                                    Ces piqûres peuvent se regrouper par 3 ou 4 sur la peau parfois en ligne (si vous constatez beaucoup plus de piqures,
                                    il ne s’agit pas de punaises de lit), et sont généralement situées sur les parties découvertes du corps (visage, mains,
                                    bras, jambes).
                                    Elles ne transmettent pas de maladie mais peuvent causer des démangeaisons importantes voire des réactions 
                                    allergiques (urticaire).
                                </p>
                                    
                                <p>
                                    Si vous avez des piqûres n’hésitez pas à demander à votre pharmacien ou médecin s’il s’agit de piqures de punaises de lit.
                                </p>

                                <div class="fr-grid-row fr-grid-row--gutters images-container">
                                    <div class="fr-col-6 align-center">
                                        <img src="{{ asset('build/images/piqures-punaises-de-lit-bras.jpg') }}" alt="Piqures de punaises en ligne sur un bras">
                                        <br>
                                        <span class="image-caption">Piqures de punaises en ligne sur un bras</span>
                                    </div>
                                    <div class="fr-col-6 align-center">
                                        <img src="{{ asset('build/images/piqures-punaises-de-lit-cou.jpg') }}" alt="Piqures de punaises groupées dans le cou">
                                        <br>
                                        <span class="image-caption">Piqures de punaises groupées dans le cou</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="fr-col-12 fr-col-lg-4">
                    <figure class="fr-content-media" aria-label="Où se cachent les punaises de lit ?">
                        <div class="fr-content-media__img">
                            <img src="{{ asset('build/images/flyer-ou-se-cachent-elles-resize.jpg') }}" width="500" height="954"
                                alt="Où se cachent les punaises de lit ? Dans la chambre, dans les matelas et sommiers. Derrière les cadres, les raccords de papier peint, sous les meubles, dans les plinthes, sous les prises électriques. Dans les fissures et les fentes du parquet. Dans les canapés. Sous les tapis."
                                >
                            <button class="fr-btn"  data-fr-opened="false" aria-controls="fr-modal-flyer-cache">
                                Agrandir l'image
                            </button>
                        </div>
                        <figcaption class="fr-content-media__caption">Crédit : Citizen</figcaption>
                    </figure>
                    <dialog aria-labelledby="fr-modal-title-modal-flyer-cache" role="dialog" id="fr-modal-flyer-cache" class="fr-modal">
                        <div class="fr-container fr-container--fluid fr-container-md">
                            <div class="fr-grid-row fr-grid-row--center">
                                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                                    <div class="fr-modal__body">
                                        <div class="fr-modal__header">
                                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-flyer-cache">Fermer</button>
                                        </div>
                                        <div class="fr-modal__content">
                                            <h1 id="fr-modal-title-modal-flyer-cache" class="fr-modal__title">Punaises de lit : où se cachent-elles ?</h1>
                                            <figure class="fr-content-media" role="group" aria-label="Où se cachent les punaises de lit ?">
                                                <div class="fr-content-media__img">
                                                    <img src="{{ asset('build/images/flyer-ou-se-cachent-elles.jpg') }}"
                                                        alt="Où se cachent les punaises de lit ? Dans la chambre, dans les matelas et sommiers. Derrière les cadres, les raccords de papier peint, sous les meubles, dans les plinthes, sous les prises électriques. Dans les fissures et les fentes du parquet. Dans les canapés. Sous les tapis."
                                                        >
                                                </div>
                                                <figcaption class="fr-content-media__caption align-left">
                                                    Punaises de lit : où se cachent-elles ?
                                                    <br>
                                                    Les punaises de lit sont visibles à l'oeil nu et sont généralement brunes.
                                                    <br>
                                                    L'adulte a les dimensions d'un pépin de pomme. L'oeuf, de couleur blanche, mesure environ 1mm. Elles ne sautent pas et ne volent pas.
                                                    <br>
                                                    La chambre, leur espace préféré.
                                                    <br>
                                                    On les trouve en grande majorité :
                                                    <br>
                                                    <ul>
                                                        <li>dans les matelas et sommiers qu'il ne faut pas hésiter à retourner pour une inspection complète</li>
                                                        <li>derrière les cadres, les raccords de papier peint, sous les meubles, dans les plinthes, sous les prises électriques...</li>
                                                        <li>dans les fissures et les fentes du parquet</li>
                                                        <li>dans les canapés</li>
                                                        <li>sous les tapis</li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dialog>
                </div>
            </div>
        </div>
    </section>


    <section class="information-evaluer fr-px-2w fr-py-3w fr-py-md-5w">
        <h2>Comment évaluer l'infestation ?</h2>
        <p>
            Il est possible de qualifier le niveau d’infestation en fonction de sa gravité. Plus l'infestation est grave, plus le niveau est élevé :
        </p>
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-lg-4 fr-container">
                    <div class="fr-grid-row">
                        <div class="fr-col-2">
                            <span>0</span>
                        </div>
                        <div class="fr-col-10">
                            <strong>Aucune infestation :</strong>
                            <br>
                            Il n'y a pas d'infestation ou la suspicion d'infestation est non avérée.
                        </div>
                    </div>
                </div>

                <div class="fr-col-12 fr-col-lg-4 fr-container">
                    <div class="fr-grid-row">
                        <div class="fr-col-2">
                            <span class="number-1">1</span>
                        </div>
                        <div class="fr-col-10">
                            <strong>Infestation faible :</strong>
                            <br>
                            - Présence de traces laissées par l'insecte (piqûres, excréments, insectes morts, œufs, mues…)
                            <br>
                            - Insecte ou larve non visibles même en cherchant
                        </div>
                    </div>
                </div>

                <div class="fr-col-12 fr-col-lg-4 fr-container">
                    <div class="fr-grid-row">
                        <div class="fr-col-2">
                            <span class="number-2">2</span>
                        </div>
                        <div class="fr-col-10">
                            <strong>Infestation moyenne :</strong>
                            <br>
                            - Présence de traces laissées par l'insecte (piqûres, excréments, insectes morts, œufs, mues…)
                            <br>
                            - Insectes ou larves visibles après recherche approfondie
                        </div>
                    </div>
                </div>

                <div class="fr-col-12 fr-col-lg-4 fr-container">
                    <div class="fr-grid-row">
                        <div class="fr-col-2">
                            <span class="number-3">3</span>
                        </div>
                        <div class="fr-col-10">
                            <strong>Infestation élevée :</strong>
                            <br>
                            - Présence de traces laissées par l'insecte (piqûres, excréments, insectes morts, œufs, mues…)
                            <br>
                            - Insectes visibles à l'oeil nu
                        </div>
                    </div>
                </div>

                <div class="fr-col-12 fr-col-lg-4 fr-container">
                    <div class="fr-grid-row">
                        <div class="fr-col-2">
                            <span class="number-4">4</span>
                        </div>
                        <div class="fr-col-10">
                            <strong>Infestation très élevée  :</strong>
                            <br>
                            - Présence de traces laissées par l'insecte (piqûres, excréments, insectes morts, œufs, mues…)
                            <br>
                            - Insectes visibles à l'oeil nu
                            <br>
                            - Plusieurs logements concernés
                        </div>
                    </div>
                </div>

                <!-- zone vide pour alignement à gauche -->
                <div class="fr-col-12 fr-col-lg-4">
                </div>
            </div>
        </div>
    </section>


    <section class="information-comment-eviter fr-px-2w fr-py-3w fr-py-md-5w">
        <h2 class="fr-container">Comment les éviter ?</h2>
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-lg-8">
                    <div class="no-accordions-group">
                        <h3>A la maison</h3>
                        <ul>
                            <li>
                                Éviter d'encombrer les espaces, afin de réduire le nombre d'endroits où les punaises de lit peuvent se cacher.
                            </li>
                            <li>
                                Après l’achat, laver les vêtements d’occasion à plus de 60°C ou les placer au sèche-linge au cycle le plus chaud
                                durant au moins 30 minutes ou les congeler pendant 72h.
                            </li>
                            <li>
                                Nettoyer avec un appareil à chaleur spécialisé (disponible en location) les meubles récupérés dans la rue ou
                                achetés en brocante avant de les introduire dans son logement.
                            </li>
                        </ul>

                        <hr>

                        <h3>A l'hôtel</h3>
                        <ul>
                            <li>
                                Ne pas déposer ses bagages sur le sol ou sur le lit, et encore moins sous le lit : les ranger sur un support
                                à bagage inspecté au préalable et les laisser fermés hors utilisation.
                            </li>
                            <li>
                                Ne pas poser ses vêtements sur le lit ou dans les armoires avant de les avoir examinés scrupuleusement.
                            </li>
                            <li>
                                Vérifier le lit : le matelas, les fermetures à glissière, les coutures, le capitonnage du rembourrage,
                                derrière et autour de la tête de lit.
                            </li>
                            <li>
                                Vérifier les meubles et les murs : le châssis des meubles et le rembourrage, à l’aide d’un objet ayant un 
                                coin dur comme une carte de crédit.
                            </li>
                        </ul>

                        <hr>

                        <h3>En voyage</h3>
                        <ul>
                            <li>
                                Bien vérifier qu’il n’y a pas de punaises de lit dans les bagages, ne jamais les poser sur les lits
                                ou fauteuils ou à proximité&nbsp;;
                            </li>
                            <li>
                                Sortir les vêtements et examiner les effets personnels&nbsp;;
                            </li>
                            <li>
                                Laver les vêtements et les articles en tissu à l'eau chaude (si possible à 60°), qu’ils aient été portés ou non&nbsp;;
                            </li>
                            <li>
                                Chauffer les articles en tissu non lavables dans le sèche-linge à la température la plus élevée possible pendant 30 minutes&nbsp;;
                            </li>
                            <li>
                                Passer l'aspirateur dans les valises. Jeter immédiatement le sac de l'aspirateur dans un sac de plastique bien fermé.
                            </li>
                        </ul>

                        <hr>
                    </div>


                    <div class="fr-accordions-group">
                        <section class="fr-accordion">
                            <h3 class="fr-accordion__title">
                                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-eviter-maison">A la maison</button>
                            </h3>
                            <div class="fr-collapse" id="accordion-eviter-maison">
                                <ul>
                                    <li>
                                        Éviter d'encombrer les espaces, afin de réduire le nombre d'endroits où les punaises de lit peuvent se cacher.
                                    </li>
                                    <li>
                                        Après l’achat, laver les vêtements d’occasion à plus de 60°C ou les placer au sèche-linge au cycle le plus chaud
                                        durant au moins 30 minutes ou les congeler pendant 72h.
                                    </li>
                                    <li>
                                        Nettoyer avec un appareil à chaleur spécialisé (disponible en location) les meubles récupérés dans la rue ou
                                        achetés en brocante avant de les introduire dans son logement.
                                    </li>
                                </ul>
                            </div>
                        </section>

                        <section class="fr-accordion">
                            <h3 class="fr-accordion__title">
                                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-eviter-hotel">A l'hôtel</button>
                            </h3>
                            <div class="fr-collapse" id="accordion-eviter-hotel">
                                <ul>
                                    <li>
                                        Ne pas déposer ses bagages sur le sol ou sur le lit, et encore moins sous le lit : les ranger sur un support
                                        à bagage inspecté au préalable et les laisser fermés hors utilisation.
                                    </li>
                                    <li>
                                        Ne pas poser ses vêtements sur le lit ou dans les armoires avant de les avoir examinés scrupuleusement.
                                    </li>
                                    <li>
                                        Vérifier le lit : le matelas, les fermetures à glissière, les coutures, le capitonnage du rembourrage,
                                        derrière et autour de la tête de lit.
                                    </li>
                                    <li>
                                        Vérifier les meubles et les murs : le châssis des meubles et le rembourrage, à l’aide d’un objet ayant un 
                                        coin dur comme une carte de crédit.
                                    </li>
                                </ul>
                            </div>
                        </section>

                        <section class="fr-accordion">
                            <h3 class="fr-accordion__title">
                                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-eviter-voyage">En voyage</button>
                            </h3>
                            <div class="fr-collapse" id="accordion-eviter-voyage">
                                <ul>
                                    <li>
                                        Bien vérifier qu’il n’y a pas de punaises de lit dans les bagages, ne jamais les poser sur les lits
                                        ou fauteuils ou à proximité&nbsp;;
                                    </li>
                                    <li>
                                        Sortir les vêtements et examiner les effets personnels&nbsp;;
                                    </li>
                                    <li>
                                        Laver les vêtements et les articles en tissu à l'eau chaude (si possible à 60°), qu’ils aient été portés ou non&nbsp;;
                                    </li>
                                    <li>
                                        Chauffer les articles en tissu non lavables dans le sèche-linge à la température la plus élevée possible pendant 30 minutes&nbsp;;
                                    </li>
                                    <li>
                                        Passer l'aspirateur dans les valises. Jeter immédiatement le sac de l'aspirateur dans un sac de plastique bien fermé.
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="fr-col-12 fr-col-lg-4">
                    <figure class="fr-content-media" aria-label="Comment éviter les punaises de lit ?">
                        <div class="fr-content-media__img">
                            <img src="{{ asset('build/images/flyer-comment-les-eviter.jpg') }}" width="500" height="954"
                                alt="Comment éviter les punaises de lit ? En voyage, ne posez pas votre bagage sur le lit, encore moins sous le lit. Contrôlez vos effets personnels à votre retour. Evitez d'encombrer les espaces. Attention aux achats d'occasion, lavez-les à 60°C. Nettoyez les meubles récupérés."
                                >
                            <br>
                            <button class="fr-btn"  data-fr-opened="false" aria-controls="fr-modal-flyer-eviter">
                                Agrandir l'image
                            </button>
                        </div>
                        <figcaption class="fr-content-media__caption">Crédit : Citizen</figcaption>
                    </figure>
                    <dialog aria-labelledby="fr-modal-title-modal-flyer-eviter" role="dialog" id="fr-modal-flyer-eviter" class="fr-modal">
                        <div class="fr-container fr-container--fluid fr-container-md">
                            <div class="fr-grid-row fr-grid-row--center">
                                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                                    <div class="fr-modal__body">
                                        <div class="fr-modal__header">
                                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-flyer-eviter">Fermer</button>
                                        </div>
                                        <div class="fr-modal__content">
                                            <h1 id="fr-modal-title-modal-flyer-eviter" class="fr-modal__title">Punaises de lit : comment les éviter ?</h1>
                                            <figure class="fr-content-media" role="group" aria-label="Comment éviter les punaises de lit ?">
                                                <div class="fr-content-media__img">
                                                    <img src="{{ asset('build/images/flyer-comment-les-eviter.jpg') }}"
                                                        alt="Comment éviter les punaises de lit ? En voyage, ne posez pas votre bagage sur le lit, encore moins sous le lit. Contrôlez vos effets personnels à votre retour. Evitez d'encombrer les espaces. Attention aux achats d'occasion, lavez-les à 60°C. Nettoyez les meubles récupérés."
                                                        >
                                                </div>
                                                <figcaption class="fr-content-media__caption align-left">
                                                    Punaises de lit : comment les éviter ?
                                                    <br>
                                                    Des gestes de prévention simples permettent de limiter leur venue ou installation.
                                                    <br>
                                                    En voyageant, soyez vigilants :
                                                    <br>
                                                    <ul>
                                                        <li>Ne posez pas votre bagage sur le lit et encore moins sous le lit</li>
                                                        <li>Contrôlez vos effets personnels à votre retour</li>
                                                        <li>Evitez d'encombrer les espaces</li>
                                                        <li>Attention aux achats d'occasion. Lavez bien les vêtements à 60°C.</li>
                                                        <li>Nettoyez les meubles récupérés</li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dialog>
                </div>
            </div>
        </div>
    </section>


    <section class="information-contact fr-mt-3w fr-mt-md-5w fr-py-3w">
        <h2>Vous n'avez pas trouvé la réponse à votre question ?</h2>
        <p class="all-questions">
            Le réseau des ADIL vous informe gratuitement sur toutes les problématiques logement et habitat.
        </p>
        <p class="all-questions">
            Pour toute question appelez le&nbsp;:
        </p>
        <p>
            <a href="tel:+33806706806" title="Appeler le 0806 706 806 (prix d’un appel local)"><span class="fr-icon-phone-fill">0806 706 806</span></a>
            <br>
            <span class="local-phone-price" aria-hidden="true">Prix d'un appel local</span>
        </p>
    </section>

{% endblock %}
