<div class="fr-mt-5w">
    <h3>Détails des événements</h3>
</div>

{% for event in events %}
    <div class="event-item fr-mb-3w fr-pb-3w">
        <div class="even-item-date fr-text--light">{{ event.date.format('d/m/Y') }}</div>
        {% if event.label is defined and event.label is not null %}
            <div><p class="fr-badge fr-badge--warning fr-badge--no-icon">{{ event.label }}</p></div>
        {% endif %}
        <h4>{{ event.title }}</h4>
        <div>{{ event.description }}</div>
        {% if event.modalToOpen is defined or (event.actionLink is defined and 'modalToOpen' in event.actionLink) %}
            {% set modalToOpen = '' %}
            {% if event.modalToOpen is defined %}
                {% set modalToOpen = event.modalToOpen %}
            {% else %}
                {% set modalToOpen = event.actionLink[12:] %}
            {% endif %}
            <div class="event-item-action fr-mt-3v">
                <a href="#" data-fr-opened="{% if modalToOpen is same as 'probleme-resolu' or modalToOpen is same as 'probleme-resolu-pro' %}true{% else %}false{% endif %}" aria-controls="fr-modal-{{ modalToOpen }}">{{ event.actionLabel }}</a>
            </div>
        {% elseif event.actionLink is defined and event.actionLink is not null %}
            {% if 'link-send-message' == event.actionLink %}
                <div class="event-item-action fr-mt-3v">
                    <a href="#" class="{{ event.actionLink }}">{{ event.actionLabel }}</a>
                </div>
            {% else  %}
                {% if event.domain is same as(constant('App\\Entity\\Event::DOMAIN_PROTOCOLE') ) %}
                    <div class="event-item-action fr-mt-3v">
                        <a class="fr-link fr-link--download" download href="{{ event.actionLink }}">
                            {{ event.actionLabel }}<span class="fr-link__detail">PDF - {{size_pdf|format_bytes}}</span>
                        </a>
                    </div>
                {% else  %}
                    <div class="event-item-action fr-mt-3v">
                        <a href="{{ event.actionLink }}" {% if event.domain is not defined %} target="_blank" {% endif %}>{{ event.actionLabel }}</a>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endfor %}