<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__operator">
                            <a href="{{ path('home') }}" title="Accueil - Stop punaises - République Française">
                                <p class="fr-header__service-title">
                                    <img src="{{ asset('build/images/logo-stop-punaises.svg') }}" alt="Stop punaises" width="90">
                                </p>
                            </a>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-header-nav" aria-haspopup="menu" id="button-header-nav" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li {% if app.request.get('_route') == 'home' %}class="active"{% endif %}>
                                <a class="fr-btn" href="{{ path('home') }}"
                                    {% if app.request.get('_route') == 'home' %}aria-current="page"{% endif %}
                                    >
                                    Accueil
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'app_front_information' %}class="active"{% endif %}>
                                <a class="fr-btn" href="{{ path('app_front_information') }}"
                                    {% if app.request.get('_route') == 'app_front_information' %}aria-current="page"{% endif %}
                                    >
                                    Informations
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'app_front_contact' %}class="active"{% endif %}>
                                <a class="fr-btn" href="{{ path('app_front_contact') }}"
                                    {% if app.request.get('_route') == 'app_front_contact' %}aria-current="page"{% endif %}
                                    >
                                    Contact
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'app_login' %} class="active"{% endif %}>

                                {% if app.user %}
                                    <a class="fr-btn fr-icon-user-line" href="{{ path('app_dashboard_home') }}">Tableau de bord</a>
                                {% else %}
                                    <a class="fr-btn fr-icon-lock-line" href="{{ path('app_login') }}"
                                        {% if app.request.get('_route') == 'app_login' %}aria-current="page"{% endif %}
                                        >
                                        Espace pro
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-header-nav" aria-labelledby="button-header-nav">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn" aria-controls="modal-header-nav" title="Fermer">
                Fermer
            </button>
            <div class="fr-header__menu-links">
            </div>
        </div>
    </div>
</header>