<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                Ministère
                                <br>de la transition
                                <br>écologique
                            </p>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" aria-haspopup="menu" id="button-500" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ path('home') }}" title="Accueil - Stop punaises - Ministère de la transition écologique">
                            <p class="fr-header__service-title">
                                <img src="{{ asset('build/images/logo-stop-punaises.svg') }}" alt="logo stop punaises" width="135">
                            </p>
                        </a>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li {% if app.request.get('_route') == 'home' %} class="active"{% endif %}>
                                <a class="fr-btn" href="{{ path('home') }}">
                                    Accueil
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'app_front_information' %} class="active"{% endif %}>
                                <a class="fr-btn" href="{{ path('app_front_information') }}">
                                    Informations
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'app_login' %} class="active"{% endif %}>

                                {% if app.user %}
                                    <a class="fr-btn fr-icon-user-line" href="{{ path('app_signalement_list') }}">Tableau de bord</a>
                                {% else %}
                                    <a class="fr-btn fr-icon-lock-line" href="{{ path('app_login') }}">
                                        Espace pro
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
                Fermer
            </button>
            <div class="fr-header__menu-links">
            </div>
        </div>
    </div>
</header>