<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-header-nav" aria-haspopup="menu" id="button-header-nav" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ path('home') }}" title="Accueil - Stop punaises - République Française">
                            <p class="fr-header__service-title">
                                <img src="{{ asset('build/images/logo-stop-punaises.svg') }}" alt="Stop punaises" width="90">
                            </p>
                        </a>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li>
                                <a class="fr-btn" href="{{ path('app_logout') }}">
                                    Déconnexion <span class="fr-icon-logout-box-r-line" aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="fr-header__search fr-modal" id="modal-575">
                        <div class="fr-container fr-container-lg--fluid">
                            <button class="fr-btn--close fr-btn" aria-controls="modal-575" title="Fermer">
                                Fermer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-header-nav" aria-labelledby="button-header-nav">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn" aria-controls="modal-header-nav" title="Fermer">
                Fermer
            </button>
            <div class="fr-header__menu-links">
            </div>
            <nav class="fr-nav" id="navigation-header-nav" role="navigation" aria-label="Menu principal">
                <ul class="fr-nav__list">
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{{ path('app_dashboard_home') }}" target="_self"
                            {% if app.request.get('_route') == 'app_dashboard_home' %}aria-current="page"{% endif %}
                            >Tableau de bord</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="{{ path('app_cartographie') }}" target="_self"
                                {% if app.request.get('_route') == 'app_cartographie' %}aria-current="page"{% endif %}
                                >
                                Cartographie
                            </a>
                        </li>
                    {% elseif is_granted('ROLE_ENTREPRISE') %}
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="{{ path('app_entreprise_view',{uuid:app.user.entreprise.uuid}) }}" target="_self"
                                {% if app.request.get('_route') == 'app_entreprise_view' %}aria-current="page"{% endif %}
                                >
                                Mon entreprise
                            </a>
                        </li>
                    {% endif %}
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{{ path('app_signalement_list') }}" target="_self" {% if app.request.get('_route') == 'app_signalement_list' or app.request.get('_route') == 'app_signalement_view' %}aria-current="page"{% endif %}>Signalements</a>
                    </li>
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{{ path('app_historique_list') }}" target="_self" {% if app.request.get('_route') == 'app_historique_list' or app.request.get('_route') == 'app_signalement_historique_view' %}aria-current="page"{% endif %}>Historique</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="{{ path('app_horsperimetre_list') }}" target="_self" {% if app.request.get('_route') == 'app_horsperimetre_list' %}aria-current="page"{% endif %}>Hors périmètre</a>
                        </li>
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="{{ path('app_erptransports_list') }}" target="_self" {% if app.request.get('_route') == 'app_erptransports_list' %}aria-current="page"{% endif %}>ERP & Transports</a>
                        </li>
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="{{ path('app_entreprise_list') }}" target="_self" {% if app.request.get('_route') == 'app_entreprise_list' or app.request.get('_route') == 'app_entreprise_view' %}aria-current="page"{% endif %}>Les entreprises</a>
                        </li>
                    {% endif %}
                    
                    {% if gitbook is defined %}
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="{{ gitbook.faq }}" target="_blank" rel="noopener"
                                >Documentation</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>