<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Stop punaises</title>

        <link rel="stylesheet" href="{{ asset('build/dsfr/dsfr.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-buildings/icons-buildings.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-design/icons-design.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-development/icons-development.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-device/icons-device.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-document/icons-document.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-map/icons-map.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-system/icons-system.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-user/icons-user.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-business/icons-business.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/datatables/jquery.dataTables.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/datatables/responsive.dataTables.min.css') }}">
        
        <link rel="icon" href={{ asset('build/images/favicon.ico') }}>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block custom_stylesheets %}{% endblock %}

        {% if 'app_cartographie' in app.request.get('_route') %}
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet-src.js"></script>
            <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js" ></script>
        {% endif %}
        <script src="{{ asset('build/dsfr/dsfr.module.min.js') }}"></script>
        {% include 'common/analytics.html.twig' %}
    </head>
    <body>
        {% include "common/skiplink-back.html.twig" %}
        {% include "common/header-back.html.twig" %}
        {% include "dashboard/nav.html.twig" %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="fr-mb-3w">
                    <div class="fr-alert fr-alert--{{ label }}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        
        <main role="main" id="contenu" tabindex="-1">
        {% block body %}{% endblock %}
        </main>
        
        {% block javascripts %}
            {% if 'app_cartographie' in app.request.get('_route') %}
                <script src="{{ asset('js/maps.js') }}" data-token="{{ csrf_token('load_markers_'~''|date('dmYhi')) }}" id="carto__js"></script> 
            {% endif %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% include "common/footer.html.twig" %}
    </body>
</html>
