{% extends 'base.html.twig' %}

{% block title %}Déposer un signalement pour les transports en commun{% endblock %}

{% block body %}
{% import "common/components/macro-forms.html.twig" as forms %}

    <div class="signalement-punaises fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-col-md-6">
            <form id="form-send-signalement-transport" method="POST"
                  action="{{ path('app_front_signalement_transport_save') }}" class="fr-my-5w fr-px-5w fr-container"
                  novalidate>
                <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
                    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
                    <div class="fr-collapse" id="breadcrumb-1">
                        <ol class="fr-breadcrumb__list">
                            <li>
                                <a class="fr-breadcrumb__link" href="{{ path('home') }}">Accueil</a>
                            </li>
                            <li>
                                <a class="fr-breadcrumb__link" href="{{ path('app_front_signalement_type_list') }}">Signaler un problème de punaises de lit</a>
                            </li>
                            <li>
                                <a class="fr-breadcrumb__link" aria-current="page">Dans les transports en commun</a>
                            </li>
                        </ol>
                    </div>
                </nav>
                <h1 class="fr-h2">Signaler des punaises de lit dans les transports en commun</h1>
                <p>Remplissez les champs ci-dessous puis valider votre signalement. Tous les champs sont obligatoires,
                    sauf
                    mention contraire.</p>

                <h2 class="fr-h3">Date et heure</h2>
                <p>Renseignez la date et l'heure à laquelle vous avez vu des punaises de lit.</p>
                <div class="fr-form-group display-if-diagnostic display-if-traitement">
                    {{ forms.input(form.punaisesViewedAt, 'Veuillez renseigner la date.') }}
                </div>
                <div class="fr-mt-3v fr-form-group display-if-diagnostic display-if-traitement">
                    <div class="fr-input-group">
                        {{ form_label(form.punaisesViewedTimeAt) }}
                        <div class="fr-input-wrap fr-icon-timer-line">
                            {{ form_widget(form.punaisesViewedTimeAt) }}
                        </div>
                        <p id="{{ form.punaisesViewedTimeAt.vars.id }}-error" class="fr-error-text fr-hidden">
                            Veuillez renseigner l'heure.
                        </p>
                    </div>
                </div>
                <h2 class="fr-h3 fr-mt-3w">Détails du problème</h2>
                <div class="fr-form-group">
                    <div class="fr-select-group search-commune">
                        {{ form_label(form.ville) }}
                        <div class="fr-input-wrap fr-icon-map-pin-2-line">
                            {{ form_widget(form.ville) }}
                        </div>
                        <p id="{{ form.ville.vars.id }}-error" class="fr-error-text fr-hidden">
                            Veuillez renseigner la commune.
                        </p>
                        <div id="rechercheAdresseListe" class="fr-mt-1v fr-py-1w">
                            <select size="5">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="fr-form-group fr-mt-3v">
                    {{ forms.select(form.placeType, 'Veuillez renseigner le type de transport.') }}
                </div>
                {{ form_widget(form.geoloc) }}
                {{ form_widget(form.codePostal) }}
                {{ form_widget(form.codeInsee) }}
                <div class="fr-form-group fr-mt-3v">
                    {{ forms.select(form.transportLineNumber, 'Veuillez renseigner le numéro de ligne.', true) }}
                </div>
                <div class="fr-form-group fr-mt-3v">
                    {{ forms.radio_choice(form.isPlaceAvertie, 'Veuillez indiquer si vous avez prévenu la compagnie de transport.') }}
                </div>

                <h2 class="fr-h3">Informations complémentaires</h2>
                <div id="form-group-photos" class="fr-form-group">
                    <div class="fr-upload-group">
                        <label class="fr-label">Photos (facultatif)
                            <span class="fr-hint-text">Taille maximale : 10 Mo. Formats supportés : jpg, png. Plusieurs fichiers possibles.</span>  
                        </label>
                        <p>Vous avez pris des photos des punaises ? Ajoutez-les en cliquant sur le bouton
                            ci-dessous.</p>
                        <label class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line" for="file-upload">Ajouter
                            des photos 
                        </label>
                        <input
                                class="fr-upload custom-file-input"
                                type="file"
                                id="file-upload"
                                name="file-upload[]"
                                multiple
                                accept=".jpg, .jpeg, .png"
                        >
                    </div>
                    <p id="file-upload-error" class="fr-error-text fr-hidden">
                        Merci d'ajouter une photo de moins de 10 Mo.
                    </p>
                    <div class="fr-grid-row fr-grid fr-grid-row--gutters fr-mt-3v fr-front-signalement-photos">
                    </div>
                </div>

                {{ forms.input(form.autresInformations, 'Merci de proposer une description (minimum 10 caractères).', true) }}

                <h2 class="fr-h3">Vos coordonnées</h2>
                <p>Renseignez vos coordonnées pour recevoir nos conseils pour éviter de ramener des punaises chez vous
                    par email.</p>
                <div class="fr-form-group">
                    {{ forms.input(form.nomDeclarant, 'Veuillez renseigner votre nom.') }}
                </div>
                <div class="fr-form-group fr-mt-3v">
                    {{ forms.input(form.prenomDeclarant, 'Veuillez renseigner votre prénom.') }}
                </div>
                <div class="fr-form-group fr-mt-3v">
                    {{ forms.input(form.emailDeclarant, 'Veuillez renseigner votre adresse e-mail.') }}
                </div>
                {{ form_widget(form._token) }}
                <div class="fr-input-group">
                    <button type="submit" class="fr-btn btn-next fr-btn--icon-left fr-icon-check-line">
                        Signaler mon problème
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% include 'common/components/signalement-confirmation.html.twig' %}
{% endblock %}
