{% extends 'base.html.twig' %}

{% block title %}Déposer un signalement pour un lieu public{% endblock %}

{% block body %}

    <div class="signalement-punaises fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-col-md-6">
            <form method="POST" action="{{ path('app_front_signalement_erp_save') }}" class="fr-my-5w fr-px-5w fr-container"
                  novalidate>

                <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
                    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
                    <div class="fr-collapse" id="breadcrumb-1">
                        <ol class="fr-breadcrumb__list">
                            <li>
                                <a class="fr-breadcrumb__link" href="{{ path('home') }}">Accueil</a>
                            </li>
                            <li>
                                <a class="fr-breadcrumb__link" href="{{ path('app_front_signalement_type_list') }}">Signaler un problème de punaises de lit</a>
                            </li>
                            <li>
                                <a class="fr-breadcrumb__link" aria-current="page">Dans un lieu public</a>
                            </li>
                        </ol>
                    </div>
                </nav>
                <h1 class="fr-h2">Signaler des punaises de lit dans un lieu public</h1>
                <p>Remplissez les champs ci-dessous puis valider votre signalement. Tous les champs sont obligatoires,
                    sauf
                    mention contraire.</p>

                <h2 class="fr-h3">Date et heure</h2>
                <p>Renseignez la date et l'heure à laquelle vous avez vu des punaises de lit.</p>
                <div class="fr-form-group display-if-diagnostic display-if-traitement">
                    <div class="fr-input-group">
                        {{ form_label(form.punaisesViewedAt) }}
                        {{ form_widget(form.punaisesViewedAt) }}
                        <p class="fr-error-text fr-hidden">
                            Veuillez renseigner la date
                        </p>
                    </div>
                </div>
                <div class="fr-form-group display-if-diagnostic display-if-traitement fr-mt-3v">
                    <div class="fr-input-group">
                        {{ form_label(form.punaisesViewedTimeAt) }}
                        <div class="fr-input-wrap fr-icon-timer-line">
                            {{ form_widget(form.punaisesViewedTimeAt) }}
                        </div>
                        <p class="fr-error-text fr-hidden">
                            Veuillez renseigner l'heure.
                        </p>
                    </div>
                </div>
                <h2 class="fr-h3 fr-mt-3w">L'établissement</h2>
                <div class="fr-form-group">
                    <div class="fr-select-group">
                        {{ form_label(form.nomProprietaire) }}
                        {{ form_widget(form.nomProprietaire) }}
                        <p class="fr-error-text fr-hidden">
                            Veuillez renseigner le nom de l'établissement.
                        </p>
                    </div>
                </div>
                <div class="fr-form-group fr-mt-3v">
                    <div class="fr-input-group search-address">
                        <label for="rechercheAdresse">Adresse de l'établissement</label>
                        <span class="fr-hint-text help-text">Tapez l'adresse puis selectionnez-la dans la liste</span>
                        <div class="fr-input-wrap fr-icon-map-pin-2-line">
                            <input id="rechercheAdresse" type="text" class="fr-input">
                            <p class="fr-error-text fr-hidden">
                                Veuillez renseigner l'adresse.
                            </p>
                        </div>
                        <div id="rechercheAdresseListe" class="fr-mt-1v fr-py-1w">
                            <select size="5">
                            </select>
                        </div>
                    </div>
                </div>
                <div id="adresse_afficher_les_champs">
                    <button type="button" class="fr-btn btn-link fr-btn--icon-left fr-icon-eye-line">
                        Afficher tous les champs
                    </button>
                </div>
                <div id="adresse_detail" class="fr-hidden">
                    <div class="fr-form-group">
                        {{ form_label(form.adresse) }}
                        {{ form_widget(form.adresse) }}
                        <p class="fr-error-text fr-hidden">
                            Veuillez renseigner l'adresse.
                        </p>
                    </div>
                    <div class="fr-form-group">
                        <div class="fr-input-group">
                            {{ form_label(form.codePostal) }}
                            {{ form_widget(form.codePostal) }}
                            <p class="fr-error-text fr-hidden">
                                Veuillez renseigner le code postal.
                            </p>
                        </div>
                    </div>
                    <div class="fr-form-group">
                        <div class="fr-input-group">
                            {{ form_label(form.ville) }}
                            {{ form_widget(form.ville) }}
                            <p class="fr-error-text fr-hidden">
                                Veuillez renseigner la ville.
                            </p>
                        </div>
                    </div>

                    {{ form_widget(form.geoloc) }}
                    {{ form_widget(form.codeInsee) }}
                </div>


                <div class="fr-form-group">
                    <div class="fr-input-group">
                        {{ form_label(form.placeType) }}

                        {% for key, choice in form.placeType.children %}
                            <div class="fr-radio-group">
                                {{ form_widget(choice) }}
                                {{ form_label(choice) }}
                            </div>
                        {% endfor %}
                        <p class="fr-error-text fr-hidden">
                            Veuillez indiquer le type d'établissement.
                        </p>
                    </div>
                </div>
                <div class="fr-form-group">
                    <div class="fr-input-group">
                        {{ form_label(form.isPlaceAvertie) }}

                        {% for key, choice in form.isPlaceAvertie.children %}
                            <div class="fr-radio-group">
                                {{ form_widget(choice) }}
                                {{ form_label(choice) }}
                            </div>
                        {% endfor %}
                        <p class="fr-error-text fr-hidden">
                            Veuillez indiquer si vous avez prévenu l'établissement.
                        </p>
                    </div>
                </div>

                <h2 class="fr-h3">Informations complémentaires</h2>


                <div id="form-group-photos" class="fr-form-group">
                    <div class="fr-upload-group">
                        <label class="fr-label">Photos (facultatif)
                            <span class="fr-hint-text">Taille maximale : 10 Mo. Formats supportés : jpg, png. Plusieurs fichiers possibles.</span>   
                        </label>
                        <p>Vous avez pris des photos des punaises ? Ajoutez-les en cliquant sur le bouton
                            ci-dessous.</p>
                        <label class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line" for="file-upload">Ajouter des photos                      
                        </label>
                        <input class="fr-upload custom-file-input"
                               type="file"
                               id="file-upload"
                               name="file-upload[]"
                               multiple
                               accept=".jpg, .jpeg, .png"
                        >
                    </div>
                    <p class="fr-error-text fr-hidden">
                        Merci d'ajouter une photo de moins de 10 Mo.
                    </p>
                    <div class="fr-grid-row fr-grid fr-grid-row--gutters fr-mt-3v fr-front-signalement-photos">
                    </div>
                </div>

                <div class="fr-input-group">
                    {{ form_label(form.autresInformations) }}
                    {{ form_help(form.autresInformations) }}
                    {{ form_widget(form.autresInformations) }}
                    <p class="fr-error-text fr-hidden">
                        Merci de proposer une rapide description (minimum 10 caractères).
                    </p>
                </div>

                <h2 class="fr-h3">Vos coordonnées</h2>
                <p>Renseignez vos coordonnées pour recevoir nos conseils pour éviter de ramener des punaises chez vous
                    par email.</p>
                <div class="fr-form-group">
                    <div class="fr-select-group">
                        {{ form_label(form.nomDeclarant) }}
                        {{ form_widget(form.nomDeclarant) }}
                        <p class="fr-error-text fr-hidden">
                            Veuillez renseigner votre nom.
                        </p>
                    </div>
                </div>
                <div class="fr-form-group fr-mt-3v">
                    <div class="fr-select-group">
                        {{ form_label(form.prenomDeclarant) }}
                        {{ form_widget(form.prenomDeclarant) }}
                        <p class="fr-error-text fr-hidden">
                            Veuillez renseigner votre prénom.
                        </p>
                    </div>
                </div>
                <div class="fr-form-group fr-mt-3v">
                    <div class="fr-select-group">
                        {{ form_label(form.emailDeclarant) }}
                        {{ form_widget(form.emailDeclarant) }}
                        <p class="fr-error-text fr-hidden">
                            Veuillez renseigner votre adresse e-mail.
                        </p>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('save_signalement_erp') }}">
                <div class="fr-input-group fr-mt-3v">
                    <button type="submit" class="fr-btn btn-next fr-btn--icon-left fr-icon-check-line">
                        Signaler mon problème
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% include 'common/components/signalement-confirmation.html.twig' %}
{% endblock %}
