<h2>
    <span class="fr-icon-folder-2-line" aria-hidden="true"></span>
    Les messages
</h2>

<div class="fr-container fr-mb-15w">
    <div class="fr-grid-row fr-grid fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
            <section>
                <h3>Rappel sur le signalement</h3>
                <p>Consultez les détails du signalement</p>
                {% include 'common/components/signalement-detail.html.twig' with {'prefix_accordion_id': 'tab-messages-'} %}
            </section>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
            <section>
                <h3>Vos échanges avec l'usager</h3>
                <div class="message-list">
                    {% for message in signalement.messages %}
                        <div class="message-item">
                            <div class="message-item-header">
                                <p class="fr-m-1w message-item-date">{{message.createdAt|date("m/d/Y") }}</p>
                                <p class="fr-m-1w fr-text--sm"><strong>{{ message.sender == app.user.email ? 'Vous' : 'Usager'}}</strong></p>
                            </div>
                            <div class="message-item-content">
                                <p class="fr-p-1w">{{ message.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <form action="{{ path('app_signalement_message_send') }}" id="form-send-message" name="send_message" method="POST">
                    <div class="fr-input-group fr-col-12">
                        <label for="message">Votre message</label>
                        <div class="fr-hint-text help-text">10 caractères minimum</div>
                        <textarea class="fr-input edit-zone" name="message" id="message" cols="10" rows="3" required minlength="10"></textarea>
                        <input type="hidden" name="entreprise_uuid" value="{{ entreprise is not null ? entreprise.uuid : null}}"/>
                        <input type="hidden" name="signalement_uuid" value="{{ signalement.uuid }}"/>
                        <input type="hidden" name="_token" value="{{ csrf_token('send_message') }}"/>
                    </div>
                    <div class="fr-col-12 fr-text--center">
                        <button type="submit" class="fr-btn fr-rounded fr-btn--icon-left fr-icon-send-plane-fill"> Envoyer le
                            message
                        </button>
                    </div>
                    <div class="message-confirmation fr-mt-1w fr-alert fr-hidden">
                        <h3 class="fr-alert__title fr-text--md"></h3>
                    </div>
                </form>
            </section>
        </div>

    </div>
</div>
