{% extends 'base.html.twig' %}

{% block title %}Suivi de mon signalement{% endblock %}

{% block body %}

{% if not signalement.closedAt %}
    {% include "front_suivi_usager/modal-empty-estimations.html.twig" %}
    {% for intervention in interventions_to_answer %}
        {% include "front_suivi_usager/modal-choice-estimation.html.twig" %}
    {% endfor %}
    {% if intervention_accepted_by_usager %}
        {% include "front_suivi_usager/modal-estimation-accepted.html.twig" %}
    {% endif %}

    {% if signalement.autotraitement and signalement.reminderAutotraitementAt %}
        {% include "front_suivi_usager/modal-probleme-resolu.html.twig" %}
    {% endif %}
    {% if not signalement.autotraitement and intervention_accepted_by_usager and intervention_accepted_by_usager.reminderResolvedByEntrepriseAt %}
        {% include "front_suivi_usager/modal-probleme-resolu-pro.html.twig" %}
    {% endif %}

    {% include "front_suivi_usager/modal-toujours-punaises.html.twig" %}
    {% include "front_suivi_usager/modal-toujours-punaises-pro.html.twig" %}
    {% include "front_suivi_usager/modal-close-signalement.html.twig" %}
{% endif %}

<div class="suivi-usager fr-container fr-my-3v">

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div role="alert" class="fr-alert fr-alert--{{ label }} fr-alert--sm fr-mb-3v">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col fr-col-12 fr-col-lg-6">
            <h1 class="fr-h2">Bonjour {{ signalement.prenomOccupant }},</h1>
            <h2 class="fr-h3">Votre signalement #{{ signalement.reference }}</h2>

            {% include "common/components/progression-signalement.html.twig" %}

            {% if not signalement.autotraitement %}
            <div class="fr-alert fr-alert--warning fr-mb-5w">
                <p>
                    Pour un suivi sécurisé, nous vous recommandons de ne pas transmettre vos coordonnées en direct 
                    – la société sélectionnée vous contactera, une fois votre choix effectué.
                    N'oubliez pas de prévenir votre propriétaire / bailleur !
                </p>
            </div>
            {% endif %}

            {% if not signalement.resolvedAt and not signalement.closedAt %}
            <div class="fr-grid-row fr-grid-row--gutters align-center">
                <div class="fr-col fr-col-12 fr-col-lg-6 fr-mb-3v">
                    <a class="fr-btn fr-btn--icon-left fr-icon-download-line" href="{{ link_pdf }}" target="_blank">Télécharger le protocole</a>
                </div>

                <div class="fr-col fr-col-12 fr-col-lg-6 fr-mb-3v">
                    {% if signalement.autotraitement and signalement.territoire.active and not signalement.logementSocial %}
                        <form action="{{ path('app_signalement_switch_pro', {'uuid': signalement.uuid }) }}" method="POST" class="fr-mb-3v">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('signalement_switch_pro') }}">
                            <button class="fr-btn fr-btn--icon-left fr-icon-check-line color-check">Trouver une entreprise labellisée</button>
                        </form>

                    {% else %}
                        <a href="#" class="fr-btn fr-btn--icon-left fr-icon-close-line color-close" data-fr-opened="false" aria-controls="fr-modal-close-signalement">Arrêter la procédure</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            <section class="fr-accordion fr-mt-5w">
                <h3 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-info-signalement">Info du signalement</button>
                </h3>
                <div class="fr-collapse" id="accordion-info-signalement">
                    Référence : #{{ signalement.reference }}
                    <br>
                    Date de dépot : {{ signalement.createdAt.format('d/m/Y') }}
                    <br>
                    Infestation estimée : {{ niveau_infestation }}
                    <br>
                    Protocole choisi : {{ signalement.autotraitement ? 'auto traitement' : 'intervention professionnelle' }}
                </div>
            </section>
        </div>

        <aside class="fr-col fr-col-12 fr-col-lg-6">
            {% include "common/components/signalement-detail-evenements.html.twig" %}
        </aside>
    </div>
</div>
{% endblock %}
